---
layout: default
---

{% include carousel.html %}
<div class="container">
  <h2 class="center">News</h2>
  <div class="row">
  {% for post in site.posts %}
  {% if forloop.index <= 3 %}
    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg">
          <span class="card-title">{{ post.title }}</span>
        </div>
        <div class="card-content">
          <p>{{ post.date |  date: "%b %-d, %Y" }}</p>
          <p>{{ post.content | truncatewords: 30 }}</p>
        </div>
        <div class="card-action">
          <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
  <h2 class="center">Upcoming Events</h2>
  <div class="row">
    <div class="row">
      {% for event in site.upcomingevents %}
      <div class="col s2">
        <h4 class="center">{{ event.title }}</h4>
        <img class="img-fluid" src="{{ event.image | prepend: site.url }}" alt="Event Image" width="100%">
        <time>{{ event.event_date | date: "%b %-d %Y" }}</time>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
