---
layout: default
---

{% include carousel.html %}
{% include news.html %}
<div class="container">
  <h2 class="center">Upcoming Events</h2>
    <div class="row">
      <div class="event-container">
        {% for event in site.upcomingevents %}
        <div class="table-cell">
          <div class="col s6">
            <div class="col s4">
              <img src="{{ event.image }}" alt="" height="100px">
            </div>
            <div class="col s8">
             <h3>{{ event.title }}</h3>
             <p>{{ event.event_date }}<br>{{ event.description }}</p>
            </div>
          </div>


        </div>
        {% endfor %}
      </div>
    </div>
</div>
