---
title: Online Programs
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <h2>Undergraduate</h2>
  <div class="row">
    {% for program in site.onlineprograms %}
    {% if program.level == "undergrad" %}
    <a href="{{ program.url | prepend: site.url }}">
      <div class="col s6 m3">
        <div class="vector-card">
          <img src="{{ program.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ program.title }}</h3>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Graduate</h2>
  <div class="row">
    {% for program in site.onlineprograms %}
    {% if program.level == "grad" %}
    <a href="{{ program.url | prepend: site.url }}">
      <div class="col s6 m3">
        <div class="vector-card">
          <img src="{{ program.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ program.title }}</h3>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>

  <h2>Other</h2>
  <div class="row">
    {% for program in site.onlineprograms %}
    {% if program.level == "online" %}
    <a href="{{ program.url | prepend: site.url }}">
      <div class="col s6 m3">
        <div class="vector-card">
          <img src="{{ program.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ program.title }}</h3>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>

</div>
