---
title: Admissions
layout: default
parallax-img: "/images/Parallax11.jpg"
---

{% include parallax-header.html %}
<div class="container">
  <br>
    <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        {% assign programs = site.admissions | sort: "position"%}
        {% for program in programs %}
        <li class="tab"><a href="#{{ program.title | remove: " " | downcase }}">{{ program.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% for program in programs %}
   <div id="{{ program.title | remove: " " | downcase }}" class="col s12 admissions-a">
     {{ program.content | markdownify }}
   </div>
  {% endfor %}
</div>
