---
layout: default
---

<div class="container">
  <h2 class="center">Admissions</h2>
    <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        {% for program in site.admissions %}
         {% if forloop.first == "true" %}
         <li class="tab"><a class="active" href="#{{ program.title }}">{{ program.title }}</a></li>
         {% endif %}
        <li class="tab"><a href="#{{ program.title }}">{{ program.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% for program in site.admissions %}
     <div id="{{ program.title }}" class="col s12">
       {{ program.content }}
     </div>
    {% endfor %}
  </div>



</div>
