
  <div class="slider">
      <ul class="slides">
        {% for banner in site.landingPageBanners %}
        <li>
          <img src="{{ banner.image | prepend: site.url }}" alt="{{ banner.title }}">
          <div class="caption center-align">
            <h3>{{ banner.description}}</h3>
            <a class="waves-effect waves-light btn">{{ banner.button-text }}</a>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>


    <script type="text/javascript">
    $(document).ready(function(){
     $('.slider').slider({height: 450});
     $('.carousel.carousel-slider').carousel({fullWidth: true});
   });
    </script>
