
  <div class="slider">
      <ul class="slides">
        {% assign banners = site.landingPageBanners | sort: "position", "last" %}
        {% for banner in banners %}
        <li>
          <img src="{{ banner.image | prepend: site.url }}" alt="{{ banner.title }}">
          <div class="caption right-align">
            <span>{{ banner.description}}</span>
            <a href="{{ banner.link }}"class="waves-effect waves-light btn btn-white">{{ banner.button-text }}</a>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>


    <script type="text/javascript">
    $(document).ready(function(){
     $('.slider').slider({height: 450});
     $('.carousel.carousel-slider').carousel({fullWidth: true});
   });
    </script>
