<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col-container">
                <div class="col s4 m2 l1">
                  <div class="footer-img">
                    <img src="{{ "/images/MastersU_Seal_White.png" | prepend: site.url }}" alt="TMU Seal" width="100%">
                  </div>
                </div>
                <div class="col s8 m6 footer-nav">
                  <ul>
                    <li><a href="#">Directions</a></li>
                    <li><a href="{{ '/campus-safety' | prepend: site.url }}">Emergency Info</a></li>
                    <li><a href="{{ '/privacy-policy' | prepend: site.url }}">Privacy Policy</a></li>
                    <li><a href="{{ '/title-ix' | prepend: site.url }}">Title IX</a></li>
                    <li><a href="{{ '/heoa' | prepend: site.url }}">HEOA</a></li>
                    <li><a href="{{ '/jobboard' | prepend: site.url }}">Job Board</a></li>
                  </ul>
                  <p class="white-text">21726 Placerita Canyon Road Santa Clarita, CA 91321 <br />1-800-568-6248 © 2017 Copyright Text</p>
                </div>
                <div class="col s12 m4">
                  <div class="social-icons right">
                    <a href="https://www.instagram.com/mastersuniversity/" class="fa fa-instagram right" target="_blank"></a>
                    <a href="https://www.facebook.com/mastersuniv/" class="fa fa-facebook right" target="_blank"></a>
                    <a href="https://twitter.com/mastersuniv?lang=en" class="fa fa-twitter right" target="_blank"></a>
                    <a href="https://www.linkedin.com/school/36767?pathWildcard=36767" class="fa fa-linkedin right" target="_blank"></a>
                  </div>

                </div>
              </div>

            </div>

          </div>
</footer>
