<footer class="page-footer">
  


          <!-- <div class="container">
            <div class="row">
            <div class="col l3 s6">
              <h3 class="white-text">Undergraduate</h3>
              <ul>
                {% for program in site.departments %}
                <li><a class="grey-text text-lighten-3" href="{{ program.url | prepend: site.url }}">{{ program.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
              <div class="col l3 s6">
                <h3 class="white-text">Graduate</h3>
                <ul>
                  {% for program in site.gradprograms %}
                  <li><a class="grey-text text-lighten-3" href="{{ program.url | prepend: site.url }}">{{ program.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col l3 s6">
                <h3 class="white-text">Online</h3>
                  <ul>
                    {% assign programs = site.onlineprograms %}
                    {% for program in programs %}
                    <li><a class="grey-text text-lighten-3" href="{{ program.url | prepend: site.url }}">{{ program.title }}</a></li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="col l3 s6">
                <h3 class="white-text">Campus Links</h3>
                <ul>
                  {% assign pages = site.pages | sort: 'title' %}
                  {% for page in pages %}
                  <li><a class="grey-text text-lighten-3" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div> -->
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>
