<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{ "/academics/undergraduate" | prepend: site.url }}">Undergraduate</a></li>
  <li><a href="{{ "/academics/graduate" | prepend: site.url }}">Graduate</a></li>
  <li><a href="{{ "/academics/online" | prepend: site.url }}">Online</a></li>
  <li><a href="https://www.tms.edu/">TMS</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Undergraduate</a></li>
  <li><a href="#!">Graduate</a></li>
  <li><a href="#!">Online</a></li>
  <li><a href="#!">Dual Enrollment</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
  <li><a href="{{ "/studentlife" | prepend: site.url }}">Student Life</a></li>
  <li><a href="https://masters.instructure.com/login">Canvas</a></li>
  <li><a href="https://portal.masters.edu/SelfService">Self Service</a></li>
  <li><a href="https://www2.masters.edu/edit/WebDept/Logon.aspx?ToolID=&Error=&JumpURL=">Content Managment</a></li>
  <li><a href="{{ "/library" | prepend: site.url }}">library</a></li>
  <li><a href="#">Caf Menu</a></li>
  <li><a href="https://outlook.com/mail.masters.edu">Email</a></li>
  <li><a href="#">Printers</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
  <li><a href="{{ "/faculty" | prepend: site.url }}">Faculty List</a></li>
  <li><a href="https://masters.instructure.com/login">Canvas</a></li>
  <li><a href="https://portal.masters.edu/SelfService">Self Service</a></li>
  <li><a href="https://www2.masters.edu/edit/WebDept/Logon.aspx?ToolID=&Error=&JumpURL=">Content Managment</a></li>
  <li><a href="https://outlook.com/mail.masters.edu">Email</a></li>
  <li><a href="#">Marketing Request</a></li>
  <li><a href="#">Chapel Announcement Request</a></li>
  <li><a href="https://workforcenow.adp.com/public/index.htm">ADP Login</a></li>
</ul>

<header>
  <nav class="nav-extended">
  <div class="container">
  <div class="nav-wrapper">
    <a href="{{ site.url }}" class="brand-logo"><img src="{{ "/images/TMU_WebLogo_WhiteGold.png" | prepend: site.url }}" id="home-logo" alt="{{ site.title }}"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{{ site.url }}">Online</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Students</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Faculty/Staff</a></li>
      <li><a href="{{ "/alumni" | prepend: site.url }}">Alumni</a></li>
      <li><a href="sass.html">Give</a></li>
    </ul>
    <!-- mobile side menu -->
    <ul class="side-nav" id="mobile-demo">
      <li><a href="{{ "/academics/undergraduate" | prepend: site.url }}">Admissions</a></li>
      <li><a href="{{ "/academics" | prepend: site.url }}">Academics</a></li>
      <li><a href="{{ "/academics/online" | prepend: site.url }}">Online</a></li>
      <li><a href="{{ "/students" | prepend: site.url }}">Students</a></li>
      <li><a href="{{ "/faculty&staff" | prepend: site.url }}">Faculty/Staff</a></li>
      <li><a href="{{ "/alumni" | prepend: site.url }}">Alumni</a></li>
      <li><a href="{{ "/give" | prepend: site.url }}">Give</a></li>
      <li><a href="https://www.tms.edu/">TMS</a></li>
    </ul>
    <!-- end mobile side menu -->
  </div>
</div>
</nav>
<nav class="nav-extended hide-on-med-and-down">
<div class="container">
<div class="nav-wrapper">

  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="{{ site.url }}">Home</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Admissions</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Academics</a></li>
    <li><a href="sass.html">Athletics</a></li>
  </ul>
</div>
</div>
</nav>

</header>

<script>
$(document).ready(function(){
$(".dropdown-button").dropdown({hover: true, belowOrigin: true, constrainWidth: false});
});
</script>
