<header>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ "/academics/undergraduate" | prepend: site.url }}">Undergraduate</a></li>
    <li><a href="{{ "/academics/teachingcredential" | prepend: site.url }}">Teaching Credential</a></li>
    <li><a href="{{ "/academics/graduate" | prepend: site.url }}">Graduate</a></li>
    <li><a href="{{ "/academics/online" | prepend: site.url }}">Online</a></li>
    <li><a href="{{ "/academics#studyabroad" | prepend: site.url }}">Study Abroad</a></li>
    <li><a href="https://www.tms.edu/">TMS</a></li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li><a href="{{ "/admissions/#undergraduate" | prepend: site.url }}">Undergraduate</a></li>
    <li><a href="{{ "/admissions/#graduate" | prepend: site.url }}">Graduate</a></li>
    <li><a href="{{ "/admissions/#online" | prepend: site.url }}">Online</a></li>
    <li><a href="{{ "/admissions/#dualenrollment" | prepend: site.url }}">Dual Enrollment</a></li>
    <li><a href="{{ "/financial-aid" | prepend: site.url }}">Financial Aid</a></li>
  </ul>


  <ul id="dropdown5" class="dropdown-content">
    {% assign services = site.campus-links | sort: 'title' %}
    {% for service in services %}
    <li><a href="{{ service.url | prepend: site.url }}">{{ service.title }}</a></li>
    {% endfor %}
    <li><a href="ue.masters.edu">University Exchange</a></li>
  </ul>

  <!-- Modal Structure -->
  <div id="s" class="modal">
    <div class="modal-content">
      <div class="container">
        <form action="{{ "/search" | prepend: site.url }}">
          <div class="row">
            <div class="col s12"><input type="text" placeholder="Search" name="q" pattern=".{3,}" title="At least 3 characters" required autofocus></div>
            <div style="clear: both;"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat"><i class="material-icons">clear</i></a>
    </div> -->
  </div>



  <!-- end dropdown content -->


  <div class="top-nav">
    <div class="navbar-fixed">
      <nav id="header">

        <div id="greybar" class="nav-wrapper hide-on-med-and-down">

          <div class="container menu-container">


            <ul id="nav-mobile" class="right  hide-on-med-and-down">
              <li><a class="dropdown-button a-padding" href="{{ "/students" | prepend: site.url }}" data-activates="dropdown3">Students</a></li>
              <li><a class="dropdown-button a-padding" href="{{ "/faculty&staff" | prepend: site.url }}" data-activates="dropdown4">Faculty/Staff</a></li>
              <li><a class="dropdown-button a-padding" href="{{ "/faculty&staff" | prepend: site.url }}" data-activates="dropdown5">Campus Links</a></li>
              <li><a class="a-padding" href="{{ "/alumni" | prepend: site.url }}">Alumni</a></li>
              <li><a class="a-padding" href="{{ "/give" | prepend: site.url }}">Give</a></li>
              <li><a class="a-padding material-icons" href="#s">search</a></li>
            </ul>

          </div>

        </div>

        <!-- <div class="nav-wrapper"> -->
          <div class="container menu-container">
            <a href="{{ site.url }}" class="brand-logo" style="height: 90px">
              <img id="home-logo" src="{{ "/images/TMU_WebLogo_NavyGold.png" | prepend: site.url }}" alt="">
            </a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{ "/about" | prepend: site.url }}">About</a></li>
              <li><a class="dropdown-button" href="{{ "/admissions" | prepend: site.url }}" data-activates="dropdown2">Admissions</a></li>
              <li><a class="dropdown-button" href="{{ "/academics" | prepend: site.url }}" data-activates="dropdown1">Academics</a></li>
              <li><a href="http://athletics.masters.edu">Athletics</a></li>
              <li><a class="btn btn-navy btn-request" href="https://masters.secure.force.com/form/?formid=217728" target="_blank">Request Info</a></li>
            </ul>
          </div>
        <!-- </div> -->



      </nav>
    </div>
  </div>



  <!-- mobile side menu -->
  <ul class="side-nav" id="mobile-demo">
    <li><a href="{{ "/admissions/#Undergraduate" | prepend: site.url }}">Admissions</a></li>
    <li><a href="{{ "/financial-aid" | prepend: site.url }}">Financial Aid</a></li>
    <li><a href="{{ "/academics" | prepend: site.url }}">Academics</a></li>
    <li><a href="https://athletics.masters.edu">Athletics</a></li>
    <li><a href="{{ "/performingarts" | prepend: site.url }}">Performing Arts</a></li>
    <li><a href="{{ "/academics/online" | prepend: site.url }}">Online</a></li>
    <li><a href="{{ "/students" | prepend: site.url }}">Students</a></li>
    <li><a href="{{ "/faculty&staff" | prepend: site.url }}">Faculty/Staff</a></li>
    <li><a href="{{ "/alumni" | prepend: site.url }}">Alumni</a></li>
    <li><a href="{{ "/give" | prepend: site.url }}">Give</a></li>
    <li><a href="https://www.tms.edu/">TMS</a></li>
    <li class="search">
      <form class="nav-search"action="{{ "/search" | relative_url }}">
        <div class="input-field nav-search">
          <input id="search" name="q" type="search"  placeholder="Search"required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </li>
  </ul>
  <!-- end mobile side menu -->

  <script>
  $(document).ready(function(){
    $(".dropdown-button").dropdown({hover: true, belowOrigin: true, constrainWidth: false});
    $('.modal').modal();
  });
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll > 0) {
      $("#header").addClass("active");
    }
    else {
      $("#header").removeClass("active");
    }
  });
  </script>
</header>
