
  <div class="container">
    <div id="john" class="row">
      <div class="col s12 m6 l3  valign-wrapper" >
        <img class="circle"src="{{ "/images/john.png" | prepend: site.url}}" alt="" width="100%">
      </div>
      <div class="col s12 m6 l9 valign-wrapper">
        <div>
          <p class="uppercase"><b>Rooted in an unwavering devotion</b> to Jesus Christ and the inerrant word of god, our world-class faculty and dedicated administration prepare each student's heart and mind for a life of eternal influence.
          </p>

          <span class="right"><img src="{{'/images/JohnSignature.png'| prepend: site.url }}" alt="" width="300px"><br>Dr. John MacArthur, President</span>
        </div>
      </div>
    </div>
  </div>
