<div class="container">
  <div id="john" class="row">
    <div class="col s12 m3">
      <img src="{{ "/images/john.png" | prepend: site.url}}" alt="" width="100%">
    </div>
    <div class="col s12 m9">
      <p class="uppercase"><b>Rooted in an unwavering devotion</b> to Jesus Christ and the inerrant word of god, our world-class faculty and dedicated administration prepare each student's heart and mind for a life of eternal influence.</p>
      <img src="{{'/images/JohnSignature.png'| prepend: site.url }}" alt="" width="40%">
    </div>
  </div>
</div>
