<div class="navy-section" style="width: 100%">
  <div class="slideshow-container">
  {% assign banners = site.landingPageBanners | sort: 'position' 'last' %}
  {% for banner in banners %}

    <div class="mySlides fade">
      <img src="{{ banner.image | prepend: site.url }}" alt="{{ banner.description }}" style="width:100%">
      <div class="text">
        <div class="container">
          <span class="left">{{ banner.description}}</span>
          <a href="{{ banner.link }}" class="waves-effect waves-light btn btn-white right">{{ banner.button-text }}</a>
        </div>
      </div>
    </div>

  {% endfor %}
  </div>
  <br>
  <br>
  <br>
  <div style="text-align:center">
    {% for banner in banners %}
      <span class="dot" onclick="currentSlide({% increment var %} + 1)"></span>
    {% endfor %}
  </div>
</div>
