<div class="navy-section" style="width: 100%">
  <div class="slideshow-container">
  {% for banner in site.landingPageBanners %}
  <div class="mySlides fade">
    <img src="{{ banner.image | prepend: site.url }}" alt="{{ banner.description }}" style="width:100%">
    <div class="text">
      <div class="container">
        <span class="left">{{ banner.description}}</span>
      <a class="waves-effect waves-light btn btn-white right">{{ banner.button-text }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  <br>
  <br>
  <br>
  <div style="text-align:center">
    {% for banner in site.landingPageBanners %}
    <span class="dot" onclick="currentSlide({{ forloop.index }})"></span>
    {% endfor %}
  </div>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);


function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";



}

setInterval(function() {
  plusSlides(1);
}, 5000);
</script>
