<div class="navy-section">
  <div class="slideshow-container">
  {% assign banners = site.landingPageBanners | sort: 'position' 'last' %}
  {% for banner in banners %}

    <div class="mySlides fade">
      <img src="{{ banner.image | prepend: site.url }}" alt="{{ banner.title }}" class="banner-img">
      <div class="text">
        <div class="container">
          <span class="left">{{ banner.description}}</span>
          <a href="{{ banner.link }}" class="waves-effect waves-light btn btn-white right">{{ banner.button-text }}</a>
        </div>
      </div>
    </div>

  {% endfor %}
  </div>
  <br>
  <br>
  <br>
  <div class="center">
    {% for banner in banners %}
      <span class="dot" onclick="currentSlide({{forloop.index}})" onkeypress="currentSlide({{forloop.index}})"></span>
    {% endfor %}
  </div>
</div>
