<footer class="page-footer">
          <div class="container">
            <div class="row valign-wrapper center">
              <div class="col s12 m5 footer-list">
                <ul>
                  <li><a class="white-text" href="{{ "/academics/undergraduate/" | prepend: site.url }}">Undergraduate</a></li>
                  <li><a class="white-text" href="{{ "/academics/graduate/" | prepend: site.url }}">Graduate</a></li>
                </ul>
              </div>
              <div class="col s12 m2 center">

                  <img src="{{ "/images/MastersU_Seal_White.png" | prepend: site.url }}" alt="TMU Seal" width="100%">

              </div>
              <div class="col s12 m5 footer-list">
                <ul>
                  <li><a class="white-text" href="{{ "/academics/online/" | prepend: site.url }}">Online</a></li>
                  <li><a class="white-text" href="#">Campus Links</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a href="https://www.instagram.com/mastersuniversity/" class="fa fa-instagram right" target="_blank"></a>
            <a href="https://www.facebook.com/mastersuniv/" class="fa fa-facebook right" target="_blank"></a>
            <a href="https://twitter.com/mastersuniv?lang=en" class="fa fa-twitter right" target="_blank"></a>
            <a href="https://www.linkedin.com/school/36767?pathWildcard=36767" class="fa fa-linkedin right" target="_blank"></a>
            </div>
          </div>
</footer>
