
<div class="parallax-container stats" height="300px">
     <div class="parallax"><img src="{{'/images/Parallax9.jpg' | prepend: site.url }}"></div>
     <div class="container valign-wrapper" style="height: 100%">
        <div>
           <h1 class="program-title white-text"><span>#1</span> “Right Choice” University <small><i>(Wall Street Journal)</i></small> </h1>
           <h1 class="program-title white-text"><span>#4</span> Best Student-Teacher Ratio 12:1 <small><i>(US News)</i></small></h1>
           <h1 class="program-title white-text"><span>#35</span> Best Universities <small><i>(US Regional West)</i></small></h1>
           <h1 class="program-title white-text"><span>#1</span> CPA Exam Pass Rate <small><i>(NASBA)</i></small></h1>
        </div>

    </div>
   </div>
