<!-- <div class="">
  <div class="container news">


    <div class="row">
      <div>
        <div id="stats" class="col s12 m12 l8 home-spacers valign-wrapper">
          <ul>
            <li>94% of full-time students recieve financial aid</li>
            <li>#1 CPA Exam pass rate (77%)</li>
            <li>Ranked #35 Best Universities (US regional west) US News 2017</li>
            <li>Ranked #15 Best Value Schools in the US (US News 2017)</li>
            <li>12:1 student-teacher ratio</li>
          </ul>
        </div>
        {% for post in site.posts  limit:1 %}
          <div class="col s12 m12 l4 home-spacers image valign-wrapper">
            <div>
              <h1 class="center">US news logo...</h1>

            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div> -->
<h1 class="center">Facts</h1>
<div class="parallax-container" height="300px">
     <div class="parallax"><img src="{{'/images/Parallax9.jpg' | prepend: site.url }}"></div>
     <div class="container valign-wrapper" style="height: 100%">
        <div>
           <h1 class="program-title white-text"><span>#1</span> “Right Choice” University <small><i>(Wall Street Journal)</i></small> </h1>
           <h1 class="program-title white-text"><span>#4</span> Best Student-Teacher Ratio 12:1 <small><i>(US News)</i></small></h1>
           <h1 class="program-title white-text"><span>#35</span> Best Universities <small><i>(US Regional West)</i></small></h1>
           <h1 class="program-title white-text"><span>#1</span> CPA Exam Pass Rate <small><i>(NASBA)</i></small></h1>
        </div>

    </div>
   </div>
