<div class="parallax-container" style="height: auto">
      <div class="parallax"><img src="{{ "/images/Parallax1.jpg" | prepend: site.url }}"></div>
          <div class="row">
            <!-- <div class="event-container"> -->
            <!-- <h1 class="center white-text">Upcoming Events</h1> -->
                <div class="carousel center">
                    {% for event in site.upcomingevents %}
                    <a class="carousel-item white-text" href="{{ event.link | prepend: site.url }}">
                        <img src="{{ event.image | prepend: site.url }}">
                        {{ event.event_date | date: "%a, %b %d, %Y"}}
                    </a>
                    {% endfor %}
                </div>
          </div>
          <div class="row center">
             <a class="btn btn-white" href="{{ "/calendar" | prepend: site.url }}">Calendar</a>
          </div>
    </div>
