<div class="parallax-container news-parallax center">
  <div class="parallax"><img src="{{'/images/Location.jpg' | prepend: site.url }}" alt="{{ page.title }} header-img"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">Located in Southern California</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <p>Tucked away in Santa Clarita, The Master’s University is a convenient location for any student who loves the beach, mountains, city, travel and has a thirst for new and varied experience</p>

      <div class="col s12 m12 l4">
        <h3>Personalized Visit</h3>
        <img src="{{ '/images/PersonalizedTour_960x540.jpg' | prepend: site.url }}" alt="" width="100%">
        <span>Schedule a Personalized Visit Today</span><br>
        <a class="btn tbn-navy"href="{{'/admissions/#visit' | prepend: site.url }}">Schedule Visit</a>
      </div>
      <div class="col s12 m12 l4">
        <h3>Mondays at Master's</h3>
        <img src="{{ '/images/Mondays@Masters_960x540.jpg' | prepend: site.url }}" alt="" width="100%">
        <span>Sign up Today</span><br>
        <a class="btn tbn-navy"href="{{'/admissions/#visit' | prepend: site.url }}">Sign Up</a>
      </div>
      <div class="col s12 m12 l4">
        <h3>View the U</h3>
        <img src="{{ '/images/ViewWeekend_960x540.jpg' | prepend: site.url }}" alt="" width="100%">
        <span>View Details</span><br>
        <a class="btn tbn-navy"href="{{ '/admissions/#visit' | prepend: site.url }}">Sign Up</a>
      </div>
    </div>
  </div>
</div>
