<div class="container">
  <div class="row">
      <h1 class="center">Visit Masters</h1>
    <div class="col s12 m4 center">
      <h2>View Weekends</h2>
      <a class="" href="{{ "/admissions/#Visit" | prepend: site.url }}"><img src="{{ "/images/ViewWeekend_960x540.jpg "| prepend: site.url }}" alt="" width="100%"></a>
    </div>
    <div class="col s12 m4 center">
      <h2>Mondays @ Masters</h2>
      <a class="" href="#"><img src="{{ "/images/Mondays@Masters_960x540.jpg"| prepend: site.url }}" alt="" width="100%"></a>
    </div>
    <div class="col s12 m4 center">
      <h2>Performing Arts</h2>
      <a class="" href="{{ "/performingarts" | prepend: site.url }}"><img src="{{ "/images/PerformingArtsFall_960x540.jpg"| prepend: site.url }}" alt="" width="100%"></a>
    </div>
  </div>
</div>
