<div class="container">
  <div class="row">
      <h1 class="center">Visit Masters</h1>
    <div class="col s12 m4 center">
      <h2>View Weekends</h2>
      <img src="https://dummyimage.com/960x540/oc2340/fff.jpg" alt="" width="100%">
      Description
      <a class="btn btn-navy" href="#">Button</a>
    </div>
    <div class="col s12 m4 center">
      <h2>Mondays @ Masters</h2>
      <img src="https://dummyimage.com/960x540/oc2340/fff.jpg" alt="" width="100%">
      Description
      <a class="btn btn-navy" href="#">Button</a>
    </div>
    <div class="col s12 m4 center">
      <h2>Performing Arts</h2>
      <img src="https://dummyimage.com/960x540/oc2340/fff.jpg" alt="" width="100%">
      Description
      <a class="btn btn-navy" href="{{ "/performingarts" | prepend: site.url }}">Button</a>
    </div>
  </div>
</div>
