---
title: Undergraduate Degrees
layout: default
parallax-img: "/images/Parallax2.jpg"
---

{% include parallax-header.html %}
<div class="container">
  <h2>Majors:</h2>
  <div class="row">
    {% for major in site.departments %}

      <div class="col s6 m3 l2">
        <div class="vector-card">
          <a href="{{ major.url | prepend: site.url }}">
          <img src="{{ major.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ major.title }}</h3>
          </a>
        </div>
      </div>

    {% endfor %}
  </div>
  <!-- <h2 id="studyabroad">Study Abroad</h2>
  <div class="row">
    <div class="col s6 m3 l2">
      <div class="vector-card">
        <a href="/ibex">
        <img src="{{ major.sm-image | prepend: site.url }}" alt="" width="100%">
        <h3 class="center">IBEX</h3>
        </a>
      </div>
    </div>
    <div class="col s6 m3 l2">
      <div class="vector-card">
        <a href="/italy">
        <img src="{{ major.sm-image | prepend: site.url }}" alt="" width="100%">
        <h3 class="center">Italy</h3>
        </a>
      </div>
    </div>
  </div> -->

</div>
