---
title: Undergraduate Degrees
layout: default
parallax-img: "/images/Parallax2.jpg"
---

{% include parallax-header.html %}
<div class="container">
  <h2>Majors:</h2>
  <div class="row">
    {% for major in site.departments %}
    <a href="{{ major.url | prepend: site.url }}">
      <div class="col s6 m3">
        <div class="vector-card">

          <img src="{{ major.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ major.title }}</h3>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
