---
title: Student Life
layout: default
parallax-img: "/images/Parallax11.jpg"
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    {% assign icons = site.studentlife | sort: 'title' %}
    {% for page in icons %}
    {% unless page.title == "Global Outreach" %}
    <a href="{{ page.url | prepend: site.url }}">
      <div class="col s6 m4">
        <div class="vector-card">
          <img src="{{ page.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ page.title }}</h3>
        </div>
      </div>
    </a>
    {% endunless %}
    {% endfor%}
    <a href="/outreach">
      <div class="col s6 m4">
        <div class="vector-card">
          <img src="/uploads/StudentLife_GlobalOutreach.png" alt="" width="100%">
          <h3 class="center">Outreach</h3>
        </div>
      </div>
    </a>
    <a href="/studentlife/student-advancement">
      <div class="col s6 m4">
        <div class="vector-card">
          <img src="/uploads/StudentLife_StudentAdvancement.png" alt="" width="100%">
          <h3 class="center">Student Advancement</h3>
        </div>
      </div>
    </a>
  </div>

</div>
