---
title: Student Life
layout: default
parallax-img: "/images/Parallax11.jpg"
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    {% assign icons = site.studentlife | sort: 'title' %}
    {% for page in icons %}
    <a href="{{ page.url | prepend: site.url }}">
      <div class="col s6 m4">
        <div class="vector-card">
          <img src="{{ page.sm-image | prepend: site.url }}" alt="" width="100%">
          <h3 class="center">{{ page.title }}</h3>
        </div>
      </div>
    </a>
    {% endfor%}
  </div>
  <div class="row">
    <h1 class="center">Global Outreach</h1>
    <a href="http://localhost:4000/studentlife/go">
      <div class="col s6 m4">
        <div class="vector-card">
          <img src="http://localhost:4000/uploads/StudentLife_GlobalOutreach.png" alt="" width="100%">
          <h3 class="center">Global Outreach</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <h1 class="center">Local Outreach</h1>
    <a href="http://localhost:4000/studentlife/go">
      <div class="col s6 m4">
        <div class="vector-card">
          <img src="http://localhost:4000/uploads/StudentLife_GlobalOutreach.png" alt="" width="100%">
          <h3 class="center">Engage</h3>
        </div>
      </div>
    </a>
  </div>

</div>
