---
title: Financial Aid
layout: default
parallax-img: "/images/Parallax8.jpg"
hours-body: |-
  **Office Info**

  On Campus Location:
  Rutherford Hall

  Office Hours:
  Mon-Fri 8:30-5:00

  Telephone:
  800.568.6248 x2290
  661.362.2290
  Fax: 661.362.2693

  Email:
  [financialaid@masters.edu
  ](mailto:financialaid@masters.edu)
  Mailing Address:
  The Master's University
  Financial Aid Office
  21726 Placerita Canyon Rd ###38
  Santa Clarita, CA 91321

  Federal School Code:
  001220
body: |-
  ### [The Basics](http://www.masters.edu/undergrad/financial-aid/financial-aid-101/)

  “How will I pay for my education? Am I eligible for financial aid? Where do I begin?” The Office of Financial Aid can answer your questions. (Online Degree Students [click here](http://www.masters.edu/financial-aid/onlinedcp/dcolpthebasics/ "DCOLPthebasics"))

  ### [Application Process](http://www.masters.edu/undergrad/financial-aid/applicationprocess/)

  "How do I apply?" Dates and deadlines for financial aid as well as helpful tips on starting the financial aid process.

  ### [Scholarships and Grants](http://www.masters.edu/undergrad/financial-aid/generalundergraduateprogram.aspx)

  "What kind of scholarships do you offer?" View a variety of federal, state and institutional aid offered at The Master's University.

  * [New / Transfer Students](http://www.masters.edu/undergrad/financial-aid/generalundergraduateprogram/newandtransfer.aspx)

  * [Continuing Students](http://www.masters.edu/undergrad/financial-aid/generalundergraduateprogram/continuingstudents.aspx)

  ### [Loans](http://www.masters.edu/undergrad/financial-aid/loans/)

  "What if I need more money?" You may qualify for government loans! (Parents [click here](http://www.masters.edu/undergrad/financial-aid/loans/directplusloans.aspx))

  ### [Tuition and Fees](http://www.masters.edu/undergrad/financial-aid/tuitionandfees/)

  "How much will school cost?" View a breakdown of expected costs for attendance at The Master's University.

  ### [FAQ's](http://www.masters.edu/undergrad/financial-aid/faq/)

  "I have more questions, where should I go?" You may find your answer [here ](http://www.masters.edu/undergrad/financial-aid/faq.aspx)among our frequently asked questions.

  ### Our Philosophy:

  It’s a well-known fact that education is one of the best investments you can make in life. That’s why The Master’s University is committed to providing a first-rate education in an academic environment unashamedly focused on the Christian faith. While the primary burden of providing an education is the responsibility of the student and parents, we are also determined – and able – to provide a substantial package of financial aid to the vast majority of our applicants. Please choose from the selections above for more information.

  ### Disclosures and Notifications
---

{% include parallax-header.html %}
<br>
<div class="container">
  <div class="row">
    <div class="col s12 m3 push-m9">
      <h2 id="office-hours">Hours</h2>
      <table class="bordered">
        <thead>
          <tr>
            <th>Monday - Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>8:30 am - 5:00 pm </td>
          </tr>
        </tbody>
      </table>


      <p>Closed on school holidays</p>
      <p><strong>Federal School Code: </strong>001220</p>

      <h2 id="contact-information">Contact Information</h2>

      <p>The Master’s University<br>
        Financial Aid Office<br>
        21726 Placerita Canyon Rd<br>
        Santa Clarita, CA 91321</p>

        <p><strong>Email:</strong> <a href="mailto:financialaid@masters.edu">financialaid@masters.edu</a></p><hr>
        <p><strong>Phone:</strong> <a href="tel:18005686248">1-800-568-6248</a><br>or <a href="tel:16613622290">661-362-2290</a></p><hr>
        <p><strong>Fax:</strong> 661-362-2693</p>


      </div>
      <div class="col s12 m9 pull-m3">
        <div class="row">
          {% assign topics = site.financialaid | sort: 'title' %}
          {% for topic in site.financialaid %}
          <a href="{{ topic.url | prepend: site.url }}">
            <div class="col s6 m4 l3">
              <div class="vector-card">
                <img src="{{ topic.sm-image | prepend: site.url }}" alt="" width="100%">
                <h3 class="center">{{ topic.title }}</h3>
              </div>
            </div>
          </a>
          {% endfor %}
          <a href="https://tmu.sharefile.com/r-rfcda47ba6074810a" target="_blank">
            <div class="col s6 m4 l3">
              <div class="vector-card">
                <img src="/images/AdmissionFinAid_Upload.png" alt="" width="100%">
                <h3 class="center">Document Upload</h3>
              </div>
            </div>
          </a>

        </div>

      </div>
    </div>






</div>
