---
layout: default
---

{% include parallax-header.html %}

<div class="container">
  <div class="row">
    <div class="col s9">

      <h2>Welcome to the {{ page.title }}</h2> {{ content }}
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tutoring">Tutoring Information</a></li>
            <li class="tab"><a href="#team">The ARC Team</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="tutoring" style="">
            <h2 id="for-one-on-one-tutoring">For One on One Tutoring</h2>

            <p>Contact Dianna Costanzo for eligibility at <a href="mailto:dcostanzo@masters.edu">dcostanzo@masters.edu</a></p>
            <hr>

            <h3 id="writing-lab">Writing Lab</h3>
            <p>Help with brainstorming, grammar, organization, thesis, research, and development</p>
            <h4 id="hours">Hours</h4>
            <p><em>The Writing Lab takes place in EHC 101</em></p>
            <table class="bordered responsive-table">
              <thead>
                <tr>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4pm - 6pm </td>
                  <td>6pm - 8pm </td>
                  <td>8am - 9am, 11:45am - 12:45pm</td>
                  <td>6pm - 8pm </td>
                  <td>3:30pm - 5pm</td>
                </tr>
              </tbody>
            </table>

            <h3>Math Lab</h3>

            <p>Help with math problems</p>

            <h4>Hours</h4>

            <p><em>The Math Lab takes place in EHC 101</em></p>
            <table class="bordered responsive-table">
              <thead>
                <tr>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3:30pm - 5pm </td>
                  <td>11am - 12:30pm</td>
                  <td>8am - 9am</td>
                  <td>3:30pm - 5pm</td>
                </tr>
              </tbody>
            </table>
            <h3>Accounting 1 Lab</h3> Help with Accounting I homework

            <h4>Hours</h4>

            <em>The Accounting Lab takes place in EHC 102 on Thursdays and EHC 101 on Fridays</em>
            <table class="bordered responsive-table">
              <thead>
                <tr>
                  <th>Thursday</th>
                  <th>Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3:50pm - 5:20pm</td>
                  <td>2pm - 3:30pm</td>
                  <td>8am - 9am</td>
                  <td>3:30pm - 5pm</td>
                </tr>
              </tbody>
            </table>
            <h3>Economics and Society Reviews</h3> Times and location will be announced in class.
          </div>
          <div id="team" style="">

            <div class="col s12 m3">
              <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 20px;"/>
            </div><h3 style="text-align: left;">Elizabeth Anderson</h3>
  <p style="text-align: left;"> My name is Elizabeth Anderson, and I'm a Music Education major at TMU. I love tutoring because I love getting to know people and working together to reach a goal. Connecting with others to complete something is so impactful for me, and I think a great example of the body of Christ.</p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3 style="text-align: left;">Averyl Basolo</h3>
  <p style="text-align: left;">I am a business student, with the emphasis in Management. I enjoy photography, rock climbing, surfing, and longboarding. The Lord has given me a passion for learning and to pass on my knowledge to those around me. It is a joy and a delight to serve His kingdom by using the gifts that He has given me. </p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <p> </p>
  <p> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3 style="text-align: left;">Peter Basolo</h3>
  <p style="text-align: left;">I am Peter Basolo, and I am a Computer Sciences Major! I love to build computers, write programs for them, and about anything in between. As of now, my favorite programming language is Java, but I also enjoy other languages, such as JavaScript, PHP, CSS, and more! It would be a great honor if I were to help a student better understand the material of a course in any way possible. </p>
  <p style="text-align: left;">1 Cor. 10:31 "<span>So, whether you eat or drink, or </span><span>whatever you do, do all to the glory of God"</span></p>
  <p style="text-align: left;"> </p>
  <p> </p>
  <p> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3>Chelsea Enloe</h3>
  <p>I am a junior Bachelor of Music Degree in Vocal Performance major. I excel in music theory and have finished in the top of my classes. I am excited to share my love of music and academics with others through tutoring and to help others succeed as well!</p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p style="padding-left: 90px;"><div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div></p>
  <h3>Daly Gates</h3>
  <div>I am a senior piano pedagogy major from Glendale, CA, and I tutor music theory. What excites me most about tutoring is the opportunity to get to know people, helping them experience “light bulb” moments and hopefully, even if only in a very small way, impacting them for Christ. What excites me most about music theory is the potential it has to enhance musical interpretation so that as performers, we can more effectively give beautiful music to our audiences.</div>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3>Connor Robbins</h3>
  <p><span>I am a Business Administration major with an emphasis in Accounting. I like helping others through tutoring because I really do enjoy Accounting and want others to learn more about it as well. </span></p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <p> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3 style="text-align: left;">Rachel Karle</h3>
  <p style="text-align: left;"><span>I am a senior studying Kinesiology, pre-physical therapy emphasis. The sciences are packed full of surprises and amazing designs that only an awesome and intelligent Creator could craft. I enjoy tutoring anything science based, but my favorite area is the study of the human body. My desire in tutoring is to help reveal to others the wonders of God's creation and His mind-boggling design for life.</span><br /><span>In my spare time, I enjoy spending time with my (7) siblings, playing sports with friends, training for triathlons, and pouring over old (and new) anatomy books.</span></p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3 style="text-align: left;">Sami Del Rio</h3>
  <p style="text-align: left;">Sami Del Rio is from Arlington, Texas and is a sophomore English major/teacher Ed minor. If you are ever looking to have fun and praise Jesus, find Sami! Her favorite things include being in the ocean, reading classic literature, drinking variant coffee brews and listening to music (think the 1975, John Mayer, and Young the Giant). If not for the Lord, literature would be meaningless...but with Him, it becomes a lens through which we understand Creation and the people He made better.</p>
  <p> "trust your heart if the seas catch fire, and live by love though the stars walk backward" -e.e. cummings</p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3 style="text-align: left;">Kaelyn Peay</h3>
  <p style="text-align: left;">I am an English major, and I work with ARC through the Writing Lab and through one-on-one tutoring. I love good food and good coffee! But learning and writing are my true passions, and I just want to share that excitement with others! I live by the saying, "God is too great for me to write a bad essay."</p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <p style="text-align: left;"> </p>
  <div class="col s12 m3">
    <img src="https://dummyimage.com/500x500/oc2340/fff.jpg alt="" class="circle" width="100%" style="margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;"/>
  </div><h3 style="text-align: left;"><span> Blake Roseberry</span></h3>
  <p style="text-align: left;"><span>I am a Biblical Counseling major here at TMU - and loving it! I took forward to assisting in Bible classes, Essentials of Biology, and Essentials of Music &amp; Art. Besides reading, studying, and doing counseling or working as a 1st-2nd grade instructor at a learning center, you can find me spending time with friends, running, or researching. I love being a Mustang because of our commitment to intentional community that seeks to lovingly obey our God!</span></p>

          </div>
        </div>
      </div>
    </div>
    <!-- Table of Contents -->
    <div class="col hide-on-small-only m3 l3">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div class="buysellads hide-on-small-only">
          <div section table-of-contents fixed>

            <h2 id="contact-information">Contact Information</h2>

            <p>The Master’s University<br> Academic Resource Center<br> 21726 Placerita Canyon Rd<br> Santa Clarita, CA 91321</p>

            <p><strong>Email:</strong> <a href="mailto:arc@maasters.edu">arc@masters.edu</a></p>
            <p><strong>Academic Counselor:</strong> <a href="mailto:dcostanzo@maasters.edu">dcostanzo@masters.edu</a></p>
          </div>
        </div>
        <h2>Academic Counselor</h2>
        <div class="row">
          <div class="col s12 m6">
            <div class="col 8">
              <img class="circle" src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" width="100%">
            </div>
            <div class="col s4">
              <h3>Dianna Constazo</h3>
            </div>
          </div>
        </div>
      </div>





    </div>

  </div>
</div>
