---
layout: default
---

{% include parallax-header.html %}

<div class="container">
  <div class="row">
    <!-- Table of Contents -->
    <div class="col s12 m3 push-m9">


          <div section table-of-contents fixed>

            <h2 id="contact-information">Contact Information</h2>

            <p>The Master’s University<br> Academic Resource Center<br> 21726 Placerita Canyon Rd<br> Santa Clarita, CA 91321</p>

            <p><strong>Email:</strong> <a href="mailto:arc@maasters.edu">arc@masters.edu</a></p>
            <p><strong>Academic Counselor:</strong> <a href="mailto:kantariksa@masters.edu">kantariksa@masters.edu</a></p>
          </div>

        <h2>Academic Counselor</h2>

              <img class="circle" src="{{ '/images/IMG_1044.JPG' | prepend: site.url }}" alt="" width="100%">
              <h3 class="center">Kara Antariksa</h3>
    </div>

    <div class="col s12 m9 pull-m3">

      <h2>Welcome to the {{ page.title }}</h2> {{ content }}
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tutoring">Tutoring Information</a></li>
            <li class="tab"><a href="#team">The ARC Team</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="tutoring" style="">
            <h2 id="for-one-on-one-tutoring">For One on One Tutoring</h2>

            <p>Contact Dianna Costanzo for eligibility at <a href="mailto:kantariksa@masters.edu">kantariksa@masters.edu</a></p>
            <hr>

            <h3 id="writing-lab">Writing Lab</h3>
            <p>Help with brainstorming, grammar, organization, thesis, research, and development</p>
            <h4 id="hours">Hours</h4>
            <p><em>The Writing Lab takes place in EHC 101</em></p>
            <table class="bordered responsive-table">
              <thead>
                <tr>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4pm - 6pm </td>
                  <td>6pm - 8pm </td>
                  <td>8am - 9am, 11:45am - 12:45pm</td>
                  <td>6pm - 8pm </td>
                  <td>3:30pm - 5pm</td>
                </tr>
              </tbody>
            </table>

            <h3>Math Lab</h3>

            <p>Help with math problems</p>

            <h4>Hours</h4>

            <p><em>The Math Lab takes place in EHC 101</em></p>
            <table class="bordered responsive-table">
              <thead>
                <tr>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3:30pm - 5pm </td>
                  <td>11am - 12:30pm</td>
                  <td>8am - 9am</td>
                  <td>3:30pm - 5pm</td>
                </tr>
              </tbody>
            </table>
            <h3>Accounting 1 Lab</h3> Help with Accounting I homework

            <h4>Hours</h4>

            <em>The Accounting Lab takes place in EHC 102 on Thursdays and EHC 101 on Fridays</em>
            <table class="bordered responsive-table">
              <thead>
                <tr>
                  <th>Thursday</th>
                  <th>Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3:50pm - 5:20pm</td>
                  <td>2pm - 3:30pm</td>
                  <td>8am - 9am</td>
                  <td>3:30pm - 5pm</td>
                </tr>
              </tbody>
            </table>
            <h3>Economics and Society Reviews</h3> Times and location will be announced in class.
          </div>
          <div id="team" style="">
            <h3>Coming Soon...</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
