--- layout: default ---
{% include parallax-header.html %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <nav>
        <div class="nav-wrapper white">
          <div class="col s12">
            <a href="{{ " /campus-links " | prepend: site.url }}" class="breadcrumb">Campus Links</a>
            <a href="#!" class="breadcrumb">{{ page.title }}</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <!-- Table of Contents -->
    <div class="col s12 m3 push-m9">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div section table-of-contents fixed>

          <h2 id="contact-information">Contact Information</h2>

          <p>The Master’s University<br> Academic Resource Center<br> 21726 Placerita Canyon Rd<br> Santa Clarita, CA 91321</p>

          <p><strong>Email:</strong> <a href="mailto:arc@maasters.edu">arc@masters.edu</a></p>
          <p><strong>Academic Counselor:</strong> <a href="mailto:dcostanzo@maasters.edu">dcostanzo@masters.edu</a></p>
        </div>
        <h2>Academic Counselor</h2>
        <div class="row">
          <div class="col s12 m6">
            <div class="col 8">
              <img class="circle" src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" width="100%">
            </div>
            <div class="col s4">
              <h3>Dianna Constazo</h3>
            </div>
            <p>{{ page.resources | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m9 pull-m3">

      <h2>Welcome to the {{ page.title }}</h2> {{ content }}
      <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tutoring">Tutoring Information</a></li>
            <li class="tab"><a href="#team">The ARC Team</a></li>
            <li class="tab"><a href="#resources">Helpful Resources</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="tutoring" style="">
            {{ page.tutoring-info | markdownify}}
            <div id="team" style="">
            {{ page.team | markdownify}}
            </div>
            <div id="resources" style="">
            {{ page.resources | markdownify}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
