---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <img src="{{ '/images/ASB_1920X500.jpg' | prepend: site.url }}" alt="" width="100%">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a href="#test1">About</a></li>
        <li class="tab"><a href="#test2">2017-2018 Members</a></li>
        <li class="tab"><a href="#test3">Campus Socities</a></li>
        <li class="tab"><a href="#test4">Contact</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">{{ content | markdownify }}</div>
    <div id="test2" class="col s12">{{ page.your-asb-body | markdownify }}</div>
    <div id="test3" class="col s12">{{ page.current-societies-body | markdownify }}{{ page.start-society-body | markdownify }}</div>
    <div id="test4" class="col s12">{{ page.talk-body | markdownify }}</div>
  </div>
</div>
