---
layout: default
---

{% include parallax-header.html %}

<div class="container">
  <div class="row">
    <div class="col s9">

      <h2>Welcome to the {{ page.title }}</h2>
      {{ content }}
      </div>
      <!-- Table of Contents -->
    <div class="col hide-on-small-only m3 l3">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div class="buysellads hide-on-small-only">
        <div section table-of-contents fixed>
            <h2 id="office-hours">Office Hours</h2>
            <table class="bordered responsive-table">
                <thead>
                  <tr>
                      <th>Monday, Wednesday, Friday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10:00 am - 4:00 pm </td>
                  </tr>
                </tbody>
              </table>
            <table class="bordered responsive-table">
                <thead>
                  <tr>
                      <th>Tuesday and Thursday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>9:00 am - 4:00 pm </td>
                  </tr>
                </tbody>
              </table>
            <table class="bordered responsive-table">
                <thead>
                  <tr>
                      <th>Saturday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>11:00 am - 1:00 pm (pickup only)</td>
                  </tr>
                </tbody>
              </table>
              <h2 id="office-hours">Summer Hours</h2>
                <table class="bordered responsive-table">
                    <thead>
                      <tr>
                          <th>Monday - Friday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>11:00 am - 4:00 pm </td>
                      </tr>
                    </tbody>
                  </table>

                <p>Closed on school holidays and during Chapel.</p>

                <h2 id="contact-information">Contact Information</h2>

                <p>The Master’s University<br>
                    Campus Mail Supervisor<br>
                21726 Placerita Canyon Rd<br>
                Santa Clarita, CA 91321</p>

            <p><strong>Email:</strong> <a href="mailto:jswanson@masters.edu">jswanson@masters.edu</a></p>
            </div></div>
        
    </div>

  </div>

</div>
</div>
