---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/financial-aid" | prepend: site.url }}" class="breadcrumb">Campus Services</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  {{ content }}
  <table class="bordered">
    <thead>
      <th>Building</th>
      <th>Days</th>
      <th>Hours</th>
    </thead>
    {% for building in page.schedules %}
    <tr>
      <td>{{ building.name }}<br>ext: {{ building.ext }}</td>
      <td>{{ building.days-body | markdownify | replace: "\", "<br>"}}</td>
      <td>{{ building.hours-body | markdownify | replace: "\", "<br>" }}</td>
    </tr>
    {% endfor %}
  </table>

</div>
