---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">

              <h2 id="contact-information">Contact Information</h2>

              <p>
                  <strong>Emergencies:</strong> 911<br>
              </p>

          <p><strong>24 Hour Guard Shack:</strong><br /> <a href="tel:16613622500">661-362-2500</a></p>
          <p><strong>On Duty Supervisor:</strong><br /> <a href="tel:16617137561">661-713-7561</a></p>
          <p><strong>Director of Campus Safety:</strong><br /> <a href="tel:16613622208">661-362-2208</a></p>
          </div>

      <div class="col s12 m9 pull-m3">

        <h2>Welcome to {{ page.title }}</h2>
        <div class="card">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#test1">About</a></li>
                  <li class="tab"><a href="#test2">Directors Greeting</a></li>
                  <li class="tab"><a href="#test3">Preparedness</a></li>
                  <li class="tab"><a href="#test4">Daily Crime & Fire Logs</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test1">
                  {{ content }}
                  <div id="video" class="modal">
                    <div class="modal-content">
                      <h4>Golf Cart Safety Training</h4>
                      <p>{{ page.golf-cart-body | markdownify }}</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>
                </div>
                <div id="test2">
                  {{ page.Directors-greeting-body | markdownify }}
                </div>
                <div id="test3">
                  {{ page.preparedness-body | markdownify }}
                </div>
                <div id="test4">
                  {{ page.Daily-Crime-&-Fire-Log-body | markdownify }}
                </div>
              </div>

        </div>


        </div>


  </div>

</div>
