---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">

              <h2 id="contact-information">Hours</h2>
              <table class="bordered">
                  <thead>
                    <tr>
                        <th>Monday - Friday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>8:00 am - 5:00 pm </td>
                    </tr>
                    <tr>
                      <th>Closed for Lunch</th>
                    </tr>
                    <tr>
                      <td>12:00pm - 1:00 pm</td>
                    </tr>
                  </tbody>
                </table>
                <h2 id="contact-information">Contact Info</h2>
                <p><strong>Email: </strong><a href="mailto:servicedesk@masters.edu">servicedesk@masters.edu</a></p>
                <p><strong>Phone: </strong><a href="tel:16613622876">661-362-2876</a></p>
          </div>

      <div class="col s12 m9 pull-m3">

        {{ content }}
        <h2>Computer Info</h2>
        <div class="card">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#test1">Students</a></li>
                  <li class="tab"><a href="#test2">Faculty/Staff</a></li>
                  <li class="tab"><a href="#test3">New Students/ Guests</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="test1">
                  {{ page.studentComp-body | markdownify }}

                </div>
                <div id="test2">
                  {{ page.FacStaffComp-body | markdownify }}
                </div>
                <div id="test3">
                  {{ page.newStudents-body | markdownify }}
                </div>
              </div>

        </div>


        </div>


  </div>

</div>
