---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">

              <h2 id="contact-information">Hours</h2>
              <table class="bordered">
                  <thead>
                    <tr>
                        <th>Monday - Friday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>8:00 am - 5:00 pm </td>
                    </tr>
                    <tr>
                      <th>Closed for Lunch</th>
                    </tr>
                    <tr>
                      <td>12:00pm - 1:00 pm</td>
                    </tr>
                  </tbody>
                </table>
                <h2 id="contact-information">Contact Info</h2>
                <p><strong>Email: </strong><a href="mailto:servicedesk@masters.edu">servicedesk@masters.edu</a></p>
                <p><strong>Phone: </strong><a href="tel:16613622876">661-362-2876</a></p>
          </div>

      <div class="col s12 m9 pull-m3">

        {{ content }}
        <h2>Computer Info</h2>
        <div class="card">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#students">Students</a></li>
                  <li class="tab"><a href="#faculty">Faculty/Staff</a></li>
                  <li class="tab"><a href="#new">New Students/ Guests</a></li>
                  <li class="tab"><a href="#policies">Policies</a></li>
                </ul>
              </div>
              <div class="card-content grey lighten-4">
                <div id="students">
                  {{ page.studentComp-body | markdownify }}
                  {% for module in page.studentCompModules %}
                  <!-- Modal Structure -->
                  <div id="{{ forloop.index | append: 's' }}" class="modal">
                    <div class="modal-content">
                      <h4>{{ module.title }}</h4>
                      <p>{{ module.body | markdownify }}</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>
                  {% endfor %}

                </div>
                <div id="faculty">
                  {{ page.FacStaffComp-body | markdownify }}
                  {% for module in page.FacultyModules %}
                  <!-- Modal Structure -->
                  <div id="{{ forloop.index }}" class="modal">
                    <div class="modal-content">
                      <h4>{{ module.title }}</h4>
                      <p>{{ module.body | markdownify }}</p>
                      <ul class="collapsible" data-collapsible="accordion">
                        {% if module.subpages %}
                          {% for page in module.subpages %}
                        <li>
                          <div class="collapsible-header">{{ page.title }}</div>
                          <div class="collapsible-body"><span>{{ page.body | markdownify }}</span></div>
                        </li>
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div id="new">
                  {{ page.newStudents-body | markdownify }}
                </div>
                <div id="policies">
                  {{ page.polices-body | markdownify }}
                </div>
              </div>
              {% for policy in page.PoliciesProcedures %}
              <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>{{ policy.title }}</h4>
                  <p>{{ policy.body | markdownify }}</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
              </div>
              {% endfor %}

        </div>


        </div>


  </div>

</div>
