---
layout: default
---

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="/uploads/MUSTANG%20GRILL.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="/uploads/MRH%20MEETING%20ROOM.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="/uploads/HOTCHKISS%20DORMITORY.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="/uploads/EHC%20MEETING%20ROOM.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="/uploads/CDUB%20DORMITORY.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="/uploads/BROSS%20GYM.jpg"></a>
</div>
<div class="container">
  <br>
  {% assign pages = site.conference-services %}
  <nav>
   <div class="nav-wrapper">
     <span class="nav-title cs-title hide-on-large-only right">Conference Services</span>
     <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       {% for page in pages %}
       {% if page.title != 'Home' %}
       <li><a href="{{page.url}}">{{ page.title}}</a></li>
       {% endif %}
       {% endfor %}
     </ul>
     <ul id="mobile" class="side-nav">
       {% for page in pages %}
       {% if page.title != 'Home' %}
       <li><a href="{{page.url}}">{{ page.title}}</a></li>
       {% endif %}
       {% endfor %}
     </ul>
   </div>
 </nav>
  <h2>Welcome to The Master's University</h2>
  <p>We are located in Santa Clarita, California on 95 tree-filled acres in the Placerita Canyon. The campus’ natural beauty provides an inviting environment for your next conference, camp, or meeting space.
</p>
<p>
  The mission of The Master’s University is to empower students for a life of enduring commitment to Christ, Biblical fidelity, moral integrity, intellectual growth, and lasting contribution to the Kingdom of God.
</p>
<p>
The Conference Services Department exists to provide guests with professional event planning services and hospitality as we seek to uphold this mission both to the University community, and beyond into the local community.
</p>

<div id="studyabroad"class="row">
  <h2 class="center">Venues and Amenities</h2>
  <a href="/ibex" target="_blank">
    <div class="col s6 m4">
      <div class="vector-card">
        <img src="/images/Travel_IBEX.png" alt="" width="100%">
        <h3 class="center">Gym</h3>
      </div>
    </div>
  </a>
  <a href="/ibex-family-and-friends-program" target="_blank">
    <div class="col s6 m4">
      <div class="vector-card">
        <img src="/images/Travel_IBEX_FF.png" alt="" width="100%">
        <h3 class="center">Athletic Field</h3>
      </div>
    </div>
  </a>
  <a href="/italy" target="_blank">
    <div class="col s6 m4">
      <div class="vector-card">
        <img src="/images/Travel_Italy.png" alt="" width="100%">
        <h3 class="center">Conference Hall</h3>
      </div>
    </div>
  </a>
  <a href="/ibex" target="_blank">
    <div class="col s6 m4">
      <div class="vector-card">
        <img src="/images/Travel_IBEX.png" alt="" width="100%">
        <h3 class="center">Dorms</h3>
      </div>
    </div>
  </a>
  <a href="/ibex-family-and-friends-program" target="_blank">
    <div class="col s6 m4">
      <div class="vector-card">
        <img src="/images/Travel_IBEX_FF.png" alt="" width="100%">
        <h3 class="center">Cafeteria</h3>
      </div>
    </div>
  </a>
  <a href="/italy" target="_blank">
    <div class="col s6 m4">
      <div class="vector-card">
        <img src="/images/Travel_Italy.png" alt="" width="100%">
        <h3 class="center">Classrooms</h3>
      </div>
    </div>
  </a>
</div>


</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.carousel').carousel({dist: 0, padding: 0});
});
</script>
<style media="screen">
  .carousel {
    height: 270px;
  }
  .carousel-item {
    height: 270px !important;
    width: 480px !important; 
  }
  /*@media screen and (max-width: 960px) {

    .carousel {
      height: 270px;
      width: 100%;
    }
    .carousel-item {
      height: 270px !important;
      width: 480px !important; 
    }
  }*/
</style>
