---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/financial-aid" | prepend: site.url }}" class="breadcrumb">Campus Services</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  {{ content }}
  <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Contact</div>
        <div class="collapsible-body"><span>{{ page.contact-body | markdownify | replace: "\", " " }}</span></div>
      </li>
      <li>
        <div class="collapsible-header">Meeting Rooms</div>
        <div class="collapsible-body"><span>{{ page.meeting-rooms-body | markdownify | replace: "\", " "}}</span></div>
      </li>
      <li>
        <div class="collapsible-header">Lodging</div>
        <div class="collapsible-body"><span>{{ page.lodging-body | markdownify }}</span></div>
      </li>
      <li>
        <div class="collapsible-header">Athletic Facilities</div>
        <div class="collapsible-body"><span>{{ page.athletic-facilities-body | markdownify }}</span></div>
      </li>
    </ul>


</div>
