---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/admissions/undergrad#counselors" | prepend: site.url }}" class="breadcrumb">Counselors</a>
           <a href="#!" class="breadcrumb">{{ page.name }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row spacing">
    <div class="col s12 m6 offset-m3">
      {% if page.video != '' %}
      <div class="video-container card">
        {{ page.video }}
      </div>
      {% else %}
      <img src="{{ page.image }}" alt="Image of {{page.name }}" class="circle responsive-img hoverable counselor-img">
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2 card">
      <h2>{{ page.name }}</h2>
      email: <a href="mailto:{{ page.email }}">{{ page.email }}</a><br>
      phone: <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
      <p>{{ content | markdownify }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row spacing">
    <div class="col s12 m10 offset-m1">
      <h1 class="center">Helpful Links</h1>
      <a href="/financial-aid">
        <div class="col s12 m4">
          <div class="vector-card">
            <img src="/uploads/AdmissionFinAid_Loans.png" alt="" width="100%">
            <h3 class="center">Financial Aid</h3>
          </div>
        </div>
      </a>
      <a href="/financial-aid/scholarship-search">
        <div class="col s12 m4">
          <div class="vector-card">
            <img src="/images/AcademicsUndergradIcons_Liberal%20Studies.png" alt="" width="100%">
            <h3 class="center">Scholarship Search</h3>
          </div>
        </div>
      </a>
      <a href="/academics/undergraduate">
        <div class="col s12 m4">
          <div class="vector-card">
            <img src="/uploads/AcademicsOnline_OnlineGenEd.png" alt="" width="100%">
            <h3 class="center">Academics</h3>
          </div>
        </div>
      </a>
    </div>

  </div>
  <div class="row spacing center">
    <div class="card navy">
      <div class="card-content white-text">
        <span class="card-title">Have a Question?</span>
        <p>Call:<a href="tel:16613622363">  661.362.2363</a></p>
        <p>or Text: <a href="tel:6617480266">661.748.0266</a></p>
        {{ page.have-a-question-text}}
      </div>
      <div class="card-action">
        <a href="https://mastersuniversity.force.com/application/TX_CommunitiesSelfReg?startURL=%2Fapplication%2FTargetX_Portal__PB" class="btn btn-gold">Apply Now</a>
        <a href="https://masters.tfaforms.net/217731" class="btn btn-gold">Request Info</a>
      </div>
    </div>
  </div>
</div>
