---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/admissions/undergrad#counselors" | prepend: site.url }}" class="breadcrumb">Counselors</a>
           <a href="#!" class="breadcrumb">{{ page.name }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row spacing">
    <div class="col s12 m6 offset-m3">
      {% if page.video != '' %}
      <div class="video-container card">
        {{ page.video }}
      </div>
      {% else %}
      <img src="{{ page.image }}" alt="Image of {{page.name }}" class="circle responsive-img hoverable">
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2 card">
      <h2>{{ page.name }}</h2>
      email: <a href="mailto:{{ page.email }}">{{ page.email }}</a><br>
      phone: <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
      <p>{{ content | markdownify }}</p>
    </div>
  </div>
</div>
