---
layout: default
---

<div class="gradient-color">
  <div class="event-page-banner">
    <br>
    <img class="card" src="{{ page.banner-image }}" alt="" width="100%">
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 card">
        <div class="col s12 l4 push-l8 ">
          <div class="card-content white center">
            <h1>Register</h1>
            <br>
            <a href="{{ page.button-link }}" class="btn btn-navy">{{ page.button-text }}</a>
          </div>
        </div>
        <div class="col s12 l8 pull-l4 ">
          <div class="card-content white">
            {{ content }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
