---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h3>Program Description</h3>
      <span>{{ content }}</span>
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn btn-navy modal-trigger" href="#itinerary">View Itinerary</a>

      <!-- Modal Structure -->
      <div id="itinerary" class="modal">
        <div class="modal-content bullet-points">
          <h3 class="center">Itinerary</h3>
          <p>{{ page.itinerary-body | markdownify }}</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 bullet-points">
      <h3>Your Host</h3>
      <div class="row">
        <div class="col s12 m3 center">
          <img class="circle" src="{{ page.host.image }}" alt="" width="100%">
        </div>
        <div class="col s12 m9">
          {{ page.host.body | markdownify }}
        </div>
      </div>

    </div>
  </div>

</div>
<div class="parallax-container news-parallax center">
  <div class="parallax"><img src="/images/photo-1466175743059-5393a020726c.jpeg" alt="{{ page.title }} header-img"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">Testimonials</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6 bullet-points md-table">
      <h3 class="center">Testimonials</h3>
      <p>{{ page.testimonials-body | markdownify }}</p>
      <h3 class="center">Flight Itinerary</h3>
      <p>{{ page.flight-body | markdownify }}</p>
    </div>
    <div class="col s12 m6 bullet-points">
      <h3 class="center">Cost & Payment</h3>
      {{ page.cost-body | markdownify }}
    </div>
  </div>
</div>
<div class="parallax-container news-parallax center">
  <div class="parallax"><img src="/images/photo-1464979834326-b695d5e187e6.jpeg" alt="{{ page.title }} header-img"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">Application</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 bullet-points">
      <h3>Application Process Descriptions</h3>
      {{ page.application-body | markdownify }}
    </div>
  </div>
</div>
<div class="parallax-container news-parallax center">
  <div class="parallax"><img src="/images/valley.jpeg" alt="{{ page.title }} header-img"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">FAQ'S</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 bullet-points">
      <h3>FAQ'S</h3>
      <p>{{ page.faq-body | markdownify }}</p>
    </div>
  </div>
</div>
