---
layout: page
---

  {{ content }}
  <a class="btn tbn-navy" href="#1">Start FERPA Training</a>
  {% for section in page.ferpa %}
    {% if forloop.last %}
    <!-- Modal Structure -->
    <div id="{{ forloop.index }}" class="modal">
      <div class="modal-content">
        <p>{{ section.body | markdownify }}</p>
      </div>
    </div>
    {% endif %}
  <!-- Modal Structure -->
  <div id="{{ forloop.index }}" class="modal">
    <div class="modal-content">
      <p>{{ section.body | markdownify }}</p>

      <button class="btn tbn-navy" type="button" name="button" onclick="$('#{{ forloop.index }}').modal('close');$('#{{ forloop.index | minus: 1 }}').modal('open');">Previous</button>
      <button class="btn tbn-navy" type="button" name="button" onclick="$('#{{ forloop.index | plus: 1 }}').modal('open');$('#{{ forloop.index }}').modal('close');">Next</button>
    </div>
  </div>
  {% endfor %}
  <!-- Modal Structure -->
  <div id="srp" class="modal">
    <div class="modal-content">
      <p>{{ page.student-record-policy-text | markdownify }}</p>
      <button class="btn tbn-navy" type="button" name="button" onclick="$('#srp').modal('close');">close</button>
    </div>
  </div>


<script type="text/javascript">
$(document).ready(function(){

});

</script>
