---
layout: financialaid
---

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Financial Aid 101</div>
      <div class="collapsible-body"><span>{{ page.online-101-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Federal & State Grants</div>
      <div class="collapsible-body"><span>{{ page.state-fed-grants-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Verification</div>
      <div class="collapsible-body"><span>{{ page.verification-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Printable Forms</div>
      <div class="collapsible-body"><span>{{ page.printable-forms-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Tuition & Fees</div>
      <div class="collapsible-body"><span>{{ page.tuition-fees-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Loans</div>
      <div class="collapsible-body"><span>{{ page.loans-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Veterans</div>
      <div class="collapsible-body"><span>{{ page.veterans-body | markdownify }}</span></div>
    </li>
    <li>
      <div class="collapsible-header">FAQ</div>
      <div class="collapsible-body"><span>{{ page.faq-body | markdownify }}</span></div>
    </li>
  </ul>
