---
layout: financialaid
---

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Student Loans</div>
    <div class="collapsible-body"><span>{{ content | markdownify | replace: '\' , '' }}</span></div>
  </li>
  <li>
    <div class="collapsible-header">Stafford Loans</div>
    <div class="collapsible-body"><span>{{ page.stafford-loan-body | markdownify }}</span></div>
  </li>
  <li>
    <div class="collapsible-header">Loan Counseling</div>
    <div class="collapsible-body"><span>{{ page.loan-counseling-body | markdownify }}</span></div>
  </li>
  <li>
    <div class="collapsible-header">Parent Loans</div>
    <div class="collapsible-body"><span>{{ page.parent-loans-body | markdownify }}</span></div>
  </li>
  <li>
    <a href="https://www.fastproducts.org/choice/mc"><div class="collapsible-header">Private Loans</div></a>
    <div class="collapsible-body"><span>{{ page.private-loans-body | markdownify }}</span></div>
  </li>
  <li>
    <div class="collapsible-header">Loan FAQ</div>
    <div class="collapsible-body"><span>{{ page.faq-body | markdownify }}</span></div>
  </li>
  <li>
    <div class="collapsible-header">Loan Deferment</div>
    <div class="collapsible-body"><span>{{ page.loan-deferment-body | markdownify }}</span></div>
  </li>
</ul>
