---
layout: default
---

<style>
  .b-image {
    background-image: url('/images/Geoscience_1920x1920.jpg');
    background-size: cover;
    height: 100%;
  }
  .bg-gold {
    background: #DAAA00;
    color: #0c2340;
  }
</style>
<div class="b-image">
    <div class="container">
      <div class="row spacing">
        <div class="col s6 offset-s3">
          <img src="/images/Geoscience_500x100.png" alt="Geoscience at the Master's University" style="width: 100%;">
        </div>
      </div>
      <div class="row">
        <div class="col 12">
          <div class="card">
            <div class="padding">
                <div class="row">
                  <div class="col s12">
                    <nav>
                     <div class="nav-wrapper white">
                       <div class="col s12">
                         <a href="{{ "/academics/undergraduate/science" | prepend: site.url }}" class="breadcrumb">Sciences</a>
                         <a href="#!" class="breadcrumb">{{ page.title }}</a>
                       </div>
                     </div>
                   </nav>
                  </div>
                </div>
              <div class="row">
                <div class="col s12 m8 flow-text">
                  <h2>Faculty</h2>
                  <ul>
                    <div class="chip">
                      <img src="https://www.masters.edu/uploads/FacultyHeadshots/McLain,%20M.jpg" alt="Matthew McLain">
                      <a href="https://www.masters.edu/faculty/matthew-mclain">Matthew McLain</a>
                    </div>
                    <div class="chip">
                      <img src="https://www.masters.edu/images/Francis_ J.jpg" alt="Joe Francis">
                      <a href="https://www.masters.edu/faculty/joe-francis">Joe Francis</a>
                    </div>
                  </ul>
                  {{ content }}
                </div>
                <div class="col s12 m4">
                    <div class="card bg-gold">
                      <div class="card-content">
                        <h3>Potential Careers</h3>
                        {{ page.careers-body | markdownify }}
                      </div>
                    </div>
                </div>
              </div>
              <div class="row spacing">
                <div class="col s12 center">
                  <h3>Now Accepting Applications</h3>
                  <a href="#" class="btn btn-navy">Apply</a>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>
