---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/give" | prepend: site.url }}" class="breadcrumb">Give</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      {{ content }}
    </div>
    <div class="col s12 m4">
      <h2>Presidents Message</h2>
      <hr>
      <p>The Master's University equips young Christian men and women for spiritual service and leadership - on the job, in the home, and through their ministries.
        <br><br>

        Every class we teach and every degree we confer stand on the foundation of God's Word. Our students acquire knowledge from a biblical perspective, filtering everything they learn through the lens of God's Word. In other words, they gain wisdom to serve and wisdom to lead.
        <br><br>

        I invite you to join us in training the next generation of Christian leaders.</p>
        <img src="{{'/uploads/macarthursignature5.png'| prepend: site.url }}" alt="" width="60%"><br>
        <a class="btn btn-navy" href="https://give.cornerstone.cc/The+Masters+University">Give Now</a>
    </div>
  </div>
</div>
