---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="col s6 m4 offset-m4">
        <img src="{{ '/images/GlobalOutreach_Logo-01.jpg' | prepend: site.url }}" alt="" width="100%">
      </div>
      <div class="col s6 m4">
        <a class="btn btn-navy right" href="https://www.formstack.com/forms/?1157321-t89dAdDNRS" target="_blank">Contribute</a>
      </div>
      <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#test2">2018 Teams</a></li>
        <li class="tab"><a href="#test1">About</a></li>
        <li class="tab"><a href="#engage">Engage!</a></li>
        <li class="tab"><a href="#test3">Missions Resources</a></li>
        <li class="tab"><a href="#test5">Go Application</a></li>
        <li class="tab"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      {{ page.about-body | markdownify }}
      <br>
      <h3>Meet The Director</h3>
      <div class="row">
        <div class="col s12 m3 center">
          <img class="circle" src="{{ '/uploads/FacultyHeadshots/La%20George,%20L.jpg' | prepend: site.url }}" alt="" width="100%">
        </div>
        <div class="col s12 m9">
          {{ page.director-body | markdownify }}
        </div>
      </div>
    </div>
    <div id="engage" class="col s12">
        {{ page.engage-body | markdownify }}
    </div>
    <div id="test2" class="col s12">
      {{ page.teams-body | markdownify }}
    </div>
    <div id="test3" class="col s12">
      {{ page.travelars-health-body | markdownify }}
    </div>
    <div id="test5" class="col s12">
      {{ page.application-body | markdownify }}
    </div>
    <div id="faq" class="col s12">
      {{ page.faq-body | markdownify }}
    </div>
    </div>
  </div>
</div>
