---
layout: default
---
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="col s4 offset-s4">
        <img src="/images/GlobalOutreach_Logo-01.jpg" alt="" width="100%">
      </div>
      <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a href="#test1">Meet The Director</a></li>
        <li class="tab"><a href="#test2">2017 Teams</a></li>
        <li class="tab"><a href="#test3">Missions Resources</a></li>
        <li class="tab"><a href="#test4">Contribute</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <br>
      <div class="row">
        <div class="col s12 m3">
          <img class="circle" src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" width="100%">
        </div>
        <div class="col s12 m9">
          {{ page.director-body | markdownify }}
        </div>
      </div>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>

    </div>
  </div>

</div>
