---
layout: default
---

<div class="" style="background: url('/images/GT18_WebBackground_4000x4000.jpg'); background-size: cover; height: 100%;">
  <br>
  <div class="row">
      <img src="/images/TMU_GT18_Logo_MC.png" alt="" style="margin: 0 auto; width: 30%; display: block;">
  </div>

    <div class="container">
      <div class="row">
        <div class="col s12 card white">
          <div class="padding">
            <br>
            <div class="row">
              <div class="col s12">
                <nav>
                 <div class="nav-wrapper white">
                   <div class="col s12">
                     <a href="{{ "/give" | prepend: site.url }}" class="breadcrumb">Give</a>
                     <a href="#!" class="breadcrumb">{{ page.title }}</a>
                   </div>
                 </div>
               </nav>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col s12">
                <!-- Modal Trigger -->
                <a class="btn btn-navy right" href="#register">Register</a>
                <h1>TMU 25th Annual Golf Tournament</h1>
                <h3>Monday, April 30th, 2018</h3>
                <h3>Valencia Country Club</h3>
                <h4>
                27330 Tourney Road |
                Valencia, CA | 91355
              </br/></h4>


                <!-- Modal Structure -->
                <div id="register" class="modal">
                  <div class="modal-content">
                    <h4 class="center">Registration</h4>
                    <iframe src="https://www.formstack.com/forms/?1187693-N3dhWaGOA1" width="100%" height="1000" style="border: none"></iframe>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row spacing">
              <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="/images/A07A1353.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="/images/A07A1717.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="/images/A07A1736.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="/images/SL0A1712.jpg"></a>
              </div>
            </div>
            <div class="row spacing">
              <div class="col s12">
                <h1>Schedule of Events:</h1>
                <table class="striped">
                  <thead>
                    <th>Time</th>
                    <th>Event</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b>8am</b></td>
                      <td>Registration/ Continental Breakfast</td>
                    </tr>
                    <tr>
                      <td><b>8am</b></td>
                      <td>Practice Range Opens</td>
                    </tr>
                    <tr>
                      <td><b>9:45am</b></td>
                      <td>Players at Carts</td>
                    </tr>
                    <tr>
                      <td><b>10am</b></td>
                      <td>Shotgun start</td>
                    </tr>
                    <tr>
                      <td><b>3pm - 5pm</b></td>
                      <td>Dinner Banquet & Awards</td>
                    </tr>
                  </tbody>
                </table>
                <br>

                <p>If you would like more information about the tournament or have any questions, please contact the Development Office at:
661-362-2210 or development@masters.edu.</p>
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('.carousel').carousel({dist: 0, padding: 0});
  $('.materialboxed').materialbox();

});
</script>
<style media="screen">
  .carousel {
    height: 270px;
  }
  .carousel-item {
    height: 270px !important;
    width: 480px !important; 
  }

  .padding {
    padding: 20px 60px 0 60px;
  }

  @media only screen
  and (max-width: 480px) {
    .padding{
      padding: 0px;
    }

  }
</style>
