---
layout: default
---


<br>
<div class="row">
  <div class="col s12 m4 offset-m4 card white">
    <!-- <img src="{{ page.banner-image}}" alt="" style="margin: 0 auto; width: 100%"> -->
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <br>
        <div class="row">
          <div class="col s12">
            <nav>
             <div class="nav-wrapper white">
               <div class="col s12">
                 <a href="{{ "/give" | prepend: site.url }}" class="breadcrumb">Give</a>
                 <a href="#!" class="breadcrumb">{{ page.title }}</a>
               </div>
             </div>
           </nav>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col s12">
            <h1>TMU 25th Annual Golf Tournament</h1>
            <!-- Modal Trigger -->
            <a class="btn btn-navy right" href="#register">Register</a>

            <!-- Modal Structure -->
            <div id="register" class="modal">
              <div class="modal-content">
                <h4 class="center">Truth & Life Registration</h4>
                <iframe src="https://masters.formstack.com/forms/tlc_registration_free" width="100%" height="1000" style="border: none"></iframe>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row spacing">
          <div class="col s12">
            <h1>Time</h1>
            <h3>Monday, April 30th, 2018</h3>
              <h4>Valencia Country Club<br/>
              27330 Tourney Road<br/>
              Valencia, CA 91355
            </br/></h4><br>
            <h1>Schedule of Events</h1>
            <table class="striped">
              <thead>
                <th>Time</th>
                <th>Event</th>
              </thead>
              <tbody>
                <tr>
                  <td><b>8am</b></td>
                  <td>Registration/ Continental Breakfast</td>
                </tr>
                <tr>
                  <td><b>8am</b></td>
                  <td>Practice Range Opens</td>
                </tr>
                <tr>
                  <td><b>9:45am</b></td>
                  <td>Players at Carts</td>
                </tr>
                <tr>
                  <td><b>10am</b></td>
                  <td>Shotgun start</td>
                </tr>
                <tr>
                  <td><b>3pm - 5pm</b></td>
                  <td>Dinner Banquet & Awards</td>
                </tr>
              </tbody>
            </table>

            <p></p>
          </div>
        </div>
      </div>
      </div>
    </div>
