---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/financial-aid" | prepend: site.url }}" class="breadcrumb">Financial Aid</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
   <div class="col s12">
     <ul class="collapsible" data-collapsible="accordion">
       <li>
         <div class="collapsible-header">New/Transfer Student</div>
         <div class="collapsible-body"><span>{{ page.new-transfer-student-body | markdownify }}</span>
           <h1>Merit Based scholarships</h1>
           <table class="striped">
             <thead>
               <th>Award</th>
               <th>Amount</th>
               <th>Documents Needed</th>
             </thead>
             <tbody>
               {% for item in page.scholarships-new-transfer %}
               <tr>
                 <td>{{item.award-text | markdownify }}</td>
                 <td>{{item.amount}}</td>
                 <td>{{item.document-text | markdownify }}</td>
               </tr>

               {% endfor %}
             </tbody>
           </table>
           <br>
           <h1>Need-Based scholarships</h1>
           <table class="striped">
             <thead>
               <th>Award</th>
               <th>Amount</th>
               <th>Documents Needed</th>
             </thead>
             <tbody>
               {% for item in page.needs-based %}
               <tr>
                 <td>{{item.award-text | markdownify }}</td>
                 <td>{{item.amount}}</td>
                 <td>{{item.document-text | markdownify }}</td>
               </tr>

               {% endfor %}
             </tbody>
           </table>
           <br>
           <h1>Federal Aid scholarships</h1>
           <table class="striped">
             <thead>
               <th>Award</th>
               <th>Amount</th>
               <th>Documents Needed</th>
             </thead>
             <tbody>
               {% for item in page.Federal-aid %}
               <tr>
                 <td>{{item.award-text | markdownify }}</td>
                 <td>{{item.amount}}</td>
                 <td>{{item.document-text | markdownify }}</td>
               </tr>

               {% endfor %}
             </tbody>
           </table>
         </div>
       </li>
       <li>
         <div class="collapsible-header">Continuing Students</div>
         <div class="collapsible-body">
             {{ page.continuing-students-body | markdownify }}
             <h1>Merit Based scholarships</h1>
             <table class="striped">
               <thead>
                 <th>Award</th>
                 <th>Amount</th>
                 <th>Documents Needed</th>
               </thead>
               <tbody>
                 {% for item in page.continuing-merit %}
                 <tr>
                   <td>{{item.award-text | markdownify }}</td>
                   <td>{{item.amount}}</td>
                   <td>{{item.document-text | markdownify }}</td>
                 </tr>

                 {% endfor %}
               </tbody>
             </table>
             <br>
             <h1>Need-based scholarships</h1>
             <table class="striped">
               <thead>
                 <th>Award</th>
                 <th>Amount</th>
                 <th>Documents Needed</th>
               </thead>
               <tbody>
                 {% for item in page.continuing-need-based %}
                 <tr>
                   <td>{{item.award-text | markdownify }}</td>
                   <td>{{item.amount}}</td>
                   <td>{{item.document-text | markdownify }}</td>
                 </tr>

                 {% endfor %}
               </tbody>
             </table>
             <br>
             <h1>Federal Aid scholarships</h1>
             <table class="striped">
               <thead>
                 <th>Award</th>
                 <th>Amount</th>
                 <th>Documents Needed</th>
               </thead>
               <tbody>
                 {% for item in page.Federal-aid %}
                 <tr>
                   <td>{{item.award-text | markdownify }}</td>
                   <td>{{item.amount}}</td>
                   <td>{{item.document-text | markdownify }}</td>
                 </tr>

                 {% endfor %}
               </tbody>
             </table>
         </div>
       </li>
       <li>
         <div class="collapsible-header">Endowed Scholarships</div>
         <div class="collapsible-body"><span>{{ page.endowed-scholorship-body | markdownify }}</span></div>
       </li>
       <li>
         <div class="collapsible-header">Donar Scholarships</div>
         <div class="collapsible-body"><span>{{ page.donar-funded-scholarships-body | markdownify }}</span></div>
       </li>
       <li>
         <div class="collapsible-header">International Students</div>
         <div class="collapsible-body"><span>{{ page.intl-students-body | markdownify }}</span></div>
       </li>
       <li>
         <div class="collapsible-header">Cal Grant</div>
         <div class="collapsible-body"><span>{{ page.cal-grant-body | markdownify }}</span></div>
       </li>
       <li>
         <div class="collapsible-header">Pastor/Missionary Dep. Grant</div>
         <div class="collapsible-body"><span>{{ page.pastor-dep-grant-body | markdownify }}</span></div>
       </li>
       <li>
         <div class="collapsible-header">Ministry Matching Grant</div>
         <div class="collapsible-body"><span>{{ page.ministry-matching-body | markdownify }}</span></div>
       </li>
     </ul>
   </div>
 </div>
</div>
