---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">
          <h2 id="office-hours">Office Hours</h2>
          <table class="bordered">
              <thead>
                <tr>
                    <th>Monday - Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>9:00 am - 3:00 pm </td>
                </tr>
              </tbody>
            </table>


              <p>Closed on school holidays and during Chapel.</p>

              <h2 id="contact-information">Contact Information</h2>

              <p>
                  The Master's University Health Center<br>
              21726 Placerita Canyon Rd, Box #40<br>
              Santa Clarita, CA 91321</p>

          <p><strong>Phone:</strong> <a href="tel:16613622662">661-362-2662</a></p>
          <p><strong>Fax:</strong> <a href="tel:16613622663">661-362-2663</a></p>
          </div>
    <div class="col s12 m9 pull-m3">

      <h2>Welcome to {{ page.title }}</h2>
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab"><a class="active" href="#test1">About</a></li>
            <li class="tab"><a href="#test2">Forms</a></li>
            <li class="tab"><a href="#test3">Self-Care/ First Aid</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">{{ content }}</div>
        <div id="test2" class="col s12">{{ page.forms-body | markdownify }}</div>
        <div id="test3" class="col s12">{{ page.self-care-body | markdownify }}</div>
      </div>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Immunizations</div>
          <div class="collapsible-body"><span>{{ page.shots-body | markdownify }}</span></div>
        </li>
        <li>
          <div class="collapsible-header">Insurance Info</div>
          <div class="collapsible-body"><span>{{ page.insurance-body | markdownify }}</span></div>
        </li>
        <li>
          <div class="collapsible-header">Quick Facts</div>
          <div class="collapsible-body"><span>{{ page.quick-facts-body| markdownify }}</span></div>
        </li>
        <li>
          <div class="collapsible-header">Meningitis Info</div>
          <div class="collapsible-body"><span>{{ page.meningitus-body| markdownify }}</span></div>
        </li>
      </ul>

      </div>
  </div>

</div>
