---
layout: page
---
{{ content }}

<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Student Information</h4>
      <p>{{ page.financial-assistance-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Teacher Preparation</h4>
      <p>{{ page.teach-prep-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Health and Safety</h4>
      <p>{{ page.health-safety-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
  <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Equity in Athletics</h4>
      <p>{{ page.equity-athletics-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
  <div id="modal5" class="modal">
    <div class="modal-content">
      <h4>Voter Registration</h4>
      <p>{{ page.voter-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
  <div id="modal6" class="modal">
    <div class="modal-content">
      <h4>Constitution Day</h4>
      <p>{{ page.constitution-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
  <div id="modal7" class="modal">
    <div class="modal-content">
      <h4>Student Outcomes</h4>
      <p>{{ page.student-outcomes-body | markdownify }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
