---
layout: default
---
{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Program Description</h3>
      <span>{{ page.program-description-body}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <h3>Importance</h3>
      <span>{{ page.importance-body }}</span>
    </div>
    <div class="col s12 m6">
      <h3>Faculty</h3>
      <ul>
          {% assign profs = site.faculty | where: "italy", "true" %}
          {% for faculty in profs %}
          <div class="chip">
            {% if faculty.image != '' %}
            <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
            {% else %}
            <img src="{{ "/images/FacutyBlank_500x500.png" | prepend: site.url }}" alt="Contact Person">
            {% endif %}
            <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
          </div>
          {% endfor %}
      </ul>
      <h3>Cost</h3>
    </div>
  </div>

</div>
<div class="parallax-container" style="height: 200px">
<div class="parallax"><img src="https://source.unsplash.com/mx_cm1GiiU8/1500x1000"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Class Offerings</h3>
      <span>{{ page.offerings-text}}</span>
    </div>
  </div>
</div>
