---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <a href="https://medium.com/tmuinitaly" class="btn btn-navy right" target="_blank">See our Blog</a>
    </div>

  </div>
  <div class="row">
    <div class="col s12">
      <h3>Program Description</h3>
      <span>{{ page.program-description-body}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <h3>Importance</h3>
      <span>{{ page.importance-body }}</span>
    </div>
    <div class="col s12 m6">
      <h3>Faculty</h3>
      <ul>
          {% assign profs = site.faculty | where: "italy", "true" %}
          {% for faculty in profs %}
          <div class="chip">
            {% if faculty.image != '' %}
            <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
            {% else %}
            <img src="{{ "/images/FacutyBlank_500x500.png" | prepend: site.url }}" alt="Contact Person">
            {% endif %}
            <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
          </div>
          {% endfor %}
      </ul>
      <h3>Cost</h3>
      {{ page.cost-text }}
      <h3>Locations</h3>
      {{ page.locations-body }}
    </div>
  </div>

</div>
<div class="parallax-container news-parallax center">
  <div class="parallax"><img src="/images/venice.jpeg" alt="{{ page.title }} header-img"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">Class Offerings</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <p>{{ page.offerings-text}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <h3>Lower Division Gen-Ed courses</h3>
      {{ page.lower-div-text | markdownify }}
    </div>
    <div class="col s12 m6">
      <h3>Upper Division Tutorials</h3>
      {{ page.upper-div-text | markdownify }}
    </div>
  </div>
</div>
<div class="parallax-container news-parallax center">
  <div class="parallax"><img src="/images/florence.jpeg" alt="{{ page.title }} header-img"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">Application</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Application Process Descriptions</h3>
      {{ page.app-process-text | markdownify }}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="btn btn-navy" href="https://masters.formstack.com/forms/tmu_italy_online_application">Apply</a>
      <a class="btn tbn-navy" href="https://masters.formstack.com/forms/tmu_italy_spiritual_mentor_recommendation">Mentor Form</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        {% for tab in page.bottom-tab %}
        <li class="tab"><a href="#{{tab.title | remove: " "}}">{{tab.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% for tab in page.bottom-tab %}
    <div id="{{tab.title| remove: " "}}" class="col s12 card-content">{{tab.body | markdownify}}</div>
    {% endfor %}
  </div>

  </div>

<script type="text/javascript">
$(document).ready(function(){
  $('ul.tabs').tabs();
});
</script>
