---
layout: default
---

<div class="container">
  <h1 class="center">Robert L. Powell Library </h1>
  <form action="https://masters.on.worldcat.org/search" class="row" method="GET">
    <div class="col s8">
      <input name="queryString" class="input-field"  placeholder="Search here for books, articles, and more ..." type="search">
    </div>
    <div class="col s4">
      <button class="btn btn-navy" id="LibrarySearchButton" type="submit"><i class="material-icons">search</i></button>
    </div>
  </form>
  <p>For self guidance use the Advanced Search ...</p>
<a href="https://masters.on.worldcat.org/advancedsearch?databaseList=" target="_blank" title="Discovery Advanced" class="btn btn-navy">ADVANCED SEARCH</a>
  <script>
  $(document).ready(function() {
    $("#LibrarySearchButton").click(function(){
      $(this).html("<i class="material-icons">refresh</i>")
    });
  });
  </script>
  <div class="row">
   <div class="col s12">
     <ul class="tabs">
       <li class="tab"><a href="#test1">Search Tools</a></li>
       <li class="tab"><a href="#test2">Services</a></li>
       <li class="tab"><a href="#test3">About The Library</a></li>
     </ul>
   </div>
   <div id="test1" class="col s12">{{ page.searchtools-body | markdownify }}</div>
   <div id="test2" class="col s12">
     <ul class="collapsible" data-collapsible="accordion">
       <li>
         <div class="collapsible-header"><i class="material-icons">filter_drama</i>Interlibrary Loan</div>
         <div class="collapsible-body"><span>{{ page.intelibraryloan }}</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">place</i>General Use Policies</div>
         <div class="collapsible-body"><span>{{ page.general-use-policies }}</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">whatshot</i>Reference Services</div>
         <div class="collapsible-body"><span>{{ page.reference-services }}</span></div>
       </li>
       <li>
         <div class="collapsible-header"><i class="material-icons">whatshot</i>Copying & Printing</div>
         <div class="collapsible-body"><span>{{ page.copying-printing }}</span></div>
       </li>
     </ul>
   </div>
   <div id="test3" class="col s12">{{ page.about }}</div>
 </div>
</div>
