---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/library/" | prepend: site.url }}" class="breadcrumb">Library</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{ content }}
    </div>

  </div>
</div>
