---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">
          <h2 id="office-hours">Office Hours</h2>
          <table class="bordered">
              <thead>
                <tr>
                    <th>Monday, Wednesday, Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:00 am - 4:00 pm </td>
                </tr>
              </tbody>
            </table>
          <table class="bordered">
              <thead>
                <tr>
                    <th>Tuesday and Thursday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>9:00 am - 4:00 pm </td>
                </tr>
              </tbody>
            </table>
          <table class="bordered">
              <thead>
                <tr>
                    <th>Saturday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>11:00 am - 1:00 pm (pickup only)</td>
                </tr>
              </tbody>
            </table>
            <h2 id="office-hours">Summer Hours</h2>
              <table class="bordered">
                  <thead>
                    <tr>
                        <th>Monday - Friday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>11:00 am - 4:00 pm </td>
                    </tr>
                  </tbody>
                </table>

              <p>Closed on school holidays and during Chapel.</p>

              <h2 id="contact-information">Contact Information</h2>

              <p>The Master’s University<br>
                  Campus Mail Supervisor<br>
              21726 Placerita Canyon Rd<br>
              Santa Clarita, CA 91321</p>

          <p><strong>Email:</strong> <a href="mailto:jswanson@masters.edu">jswanson@masters.edu</a></p>
          </div>
    <div class="col s12 m9 pull-m3">

      <h2>Welcome to {{ page.title }}</h2>
      {{ content }}
      <div class="card">
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#student">Students & Parents</a></li>
            <li class="tab"><a href="#faculty">Faculty & Staff</a></li>
            <li class="tab"><a href="#policies">Policies & Guidlines</a></li>
            <li class="tab"><a href="#services">Mail Services</a></li>
            <li class="tab"><a href="#urgent">Urgent Mailing Options</a></li>
       </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="student" style="">
          {{ page.new-students-parents-body | markdownify }}
        </div>
        <div id="faculty" style="">
        </div>
        <div id="policies" style="">
          {{ page.policies-body | markdownify }}
        </div>
        <div id="services" style="">
          {{ page.policies-body | markdownify }}
        </div>
        <div id="urgent" style="">
          {{ page.policies-body | markdownify }}
        </div>
      </div>
     </div>
      </div>
  </div>

</div>
