---
layout: default
---

<div class="parallax-container">
  <div class="parallax"><img src="{{ page.image | prepend: site.url }}"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">{{ page.title}}</h2>
    <time>{{ page.date | date: "%b %-d, %Y" }}</time>
    {% for author in site.authors %}
    {% if author.title == page.author %}
    <p>By: {{ author.title }}</p>
    {% endif %}
    {% endfor %}
    <p class="flow-text">{{ content }}</p>
  </div>
</div>

{% if page.previous.url %}
<div class="parallax-container">
  <div class="parallax"><img src="{{ page.previous.image | prepend: site.url }}"></div>
  <div class="row container">
    <h3 class="white-text">{{ page.previous.title }}</h3>
    <h4><a class="white-text"href="{{ page.previous.url | prepend: site.url }}">Read Next</a></h4>
  </div>
</div>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
$('.parallax').parallax();
});
</script>
