---
layout: default
---

<div class="parallax-container news-parallax">
  <div class="parallax"><img src="{{ page.image | prepend: site.url }}"></div>
  <div class="container valign-wrapper" style="height: 100%">
    <h1 class="program-title white-text">{{ page.title }}</h1>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2><small>sub heading text...</small></h2>
    <time id="news-date">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% for author in site.authors %}
    {% if author.title == page.author %}
    <p>By: {{ author.title }}</p>
    {% endif %}
    {% endfor %}
    <hr>
    <p class="flow-text">{{ content | markdownify }}</p>
  </div>
</div>

{% if page.previous.url %}
<div class="parallax-container news-parallax">
  <div class="parallax"><img src="{{ page.previous.image | prepend: site.url }}"></div>
  <div class="row container">
      <h3 class="white-text">{{ page.previous.title }}</h3>
      <h4><a class="white-text"href="{{ page.previous.url | prepend: site.url }}">Read Next</a></h4>
  </div>
</div>
{% endif %}


<script type="text/javascript">
$(document).ready(function(){
$('.parallax').parallax();
});
</script>
