---
layout: default
---
{% include parallax-header.html %}
<div class="gradient-color">
  <!-- <div class="row">
    <div class="col s12 m6 offset-m3 card white center">
      <h1>Outreach</h1>
      <img src="images/T&L_Logo.png" alt="" style="margin: 0 auto; width: 100%">
    </div>
  </div> -->
  <!-- <div class="event-page-banner">
    <br>
    <img class="card" src="{{ page.banner-image }}" alt="" width="100%">
  </div> -->
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 card">
        <br>
        <div class="row">
          <div class="col s12">
            <nav>
             <div class="nav-wrapper white">
               <div class="col s12">
                 <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
                 <a href="#!" class="breadcrumb">{{ page.title }}</a>
               </div>
             </div>
           </nav>
          </div>
        </div>
        <div class="col s12">
          <div class="card-content white">
            {% for item in site.outreach %}
            {% unless item.title == "outreach" %}
            <a href="{{ item.url | prepend: site.url }}">
              <div class="col s6 m4">
                <div class="vector-card">
                  <img src="{{item.icon-image}}" alt="" width="100%">
                  <h3 class="center">{{ item.title }}</h3>
                </div>
              </div>
            </a>
            {% endunless %}
            {% endfor %}
            {{ content }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
