---
layout: default
---

{% include parallax-header.html %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <br>
        <div class="row">
          <div class="col s12">
            <nav>
             <div class="nav-wrapper white">
               <div class="col s12">
                 <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
                 <a href="#!" class="breadcrumb">{{ page.title }}</a>
               </div>
             </div>
           </nav>
          </div>
        </div>
        <div class="col s12">
          <div class="row spacing">
            {{ content}}
          </div>

          <div class="card-content white">
            {% for item in site.outreach %}
            {% unless item.title == "Outreach" %}
            <a href="{{ item.url | prepend: site.url }}">
              <div class="col s6 m3">
                <div class="vector-card">
                  <img src="{{item.icon-image}}" alt="" width="100%">
                  <p class="center">{{ item.title }}</p>
                </div>
              </div>
            </a>
            {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
