---
layout: default
---

{% include parallax-header.html %}
<div class="row">
   <div class="container">
      <br>
      <div class="row">
         <div class="col s12">
            <nav>
               <div class="nav-wrapper white">
                  <div class="col s12">
                     <a href="{{ "/performingarts" | prepend: site.url }}" class="breadcrumb">Performing Arts</a>
                     <a href="#!" class="breadcrumb">{{ page.title }}</a>
                  </div>
               </div>
            </nav>
         </div>
      </div>
      <div class="col s12">
         <ul class="tabs tabs-fixed-width">
            <li class="tab"><a target="_self" href="{{ "/academics/undergraduate/music" | prepend: site.url }}">Academics</a></li>
            <li class="tab"><a class="active" href="#concerts">Concerts & Events</a></li>
         </ul>
      </div>
   </div>

   <div id="concerts" class="col s12">
      <div class="container">
         <div class="row">
            <div class="col s12 l8">
              <h2>Upcoming Events</h2>
              {% assign current = "now" | date: "%Y%m%d" %}
              <ul>
                 {% for event in page.upcoming-events %}
                 {% assign date = event.date | date: "%Y%m%d" %}
                 {% if date > current %}

                 <div class="card">
                    <div class="card-content">
                       <time class="card-title">{{ event.date | date: "%a, %b %d, %Y" }}</time>
                       <span class="card-title">{{ event.title }}</span>
                       {{ event.description | markdownify }}
                    </div>
                 </div>

                 {% endif %}
                 {% endfor %}
              </ul>
            </div>
            <div id="music-btns" class="col s12 l4">
               <!-- Modal Trigger -->
               <p><a class="btn btn-navy music-btn" href="#concert">Christmas Concert</a></p>
               <p><a class="btn btn-navy music-btn" href="https://app.mobilecause.com/vf/TMUCHORALE" target="_blank">Chorale Trip Donations</a></p>
               <p><a class="btn btn-navy music-btn" href="#modal2">Alumni NYC Trip</a></p>
               <p><a class="btn btn-navy music-btn" href="http://portal.stretchinternet.com/tmuadmin/" target="_blank">Live Stream</a></p>
               <p><a class="btn btn-navy music-btn" href="{{ "/theatre-arts" | prepend: site.url }}" target="_blank">Theatre Arts</a></p>
               <h2>Visit</h2>
               <p><a class="btn btn-navy music-btn" href="/prelude">Prelude</a></p>
               <h2>Youth Programs</h2>
               {% for program in page.youth-programs %}
               <!-- Modal Trigger -->
               <p>
                  <a href="#{{ program.name }}" class="waves-effect waves-light btn btn-navy music-btn">{{ program.name }}</a>
               </p>

               <!-- Modal Structure -->
               <div id="{{ program.name }}" class="modal modal-fixed-footer">
                  <div class="modal-content">
                     <h1 class="center">{{ program.name }}</h1>
                     <p>{{ program.body | markdownify }}</p>
                  </div>
                  <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{{ page.register-link }}</a>
                     <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
                  </div>
               </div>
               {% endfor %}
               <!-- Modal Trigger -->
               <h2>Album Orders</h2>
               <a class="waves-effect waves-light btn btn-navy music-btn" href="#modal3">Album Orders</a>

               <!-- Modal Structure -->
               <div id="modal3" class="modal bottom-sheet">
                  <div class="modal-content">
                     <h4>Album Orders</h4>
                     <div class="row">
                        {% for album in page.music-orders %}
                        <div class="col s12 l6">
                           <div class="card horizontal">
                              <div class="card-image">
                                 <img src="{{ album.album-image }}" style="width: 150px;">
                              </div>
                              <div class="card-stacked">
                                 <div class="card-content">
                                    <h4>{{ album.name}}<br><small>{{ album.artist }}</small></h4>
                                    <ol class="browser-default">
                                       {% for track in album.tracks %}
                                       <li>{{ track }}</li>
                                       {% endfor %}
                                    </ol>

                                 </div>
                                 <div class="card-action right-align">
                                    <a href="https://masters.formstack.com/forms/tmc_music_album_sales">Order</a>
                                 </div>
                              </div>
                           </div>
                        </div>


                        {% endfor %}
                     </div>

                  </div>
                  <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                  </div>
               </div>



               <!-- Modal Structure -->
               <div id="concert" class="modal modal-fixed-footer">
                  <div class="modal-content">
                     <div class="row">
                        <div class="col s6">
                           <p>34th Annual Come ChristmasSing Concert Series</p>
                           <p>Join us as we celebrate Christmastime around the world! Enjoy a night of international holiday favorites, Christmas scenes, light refreshments and McCullough’s “Canite Tuba”</p>
                           <ul>
                              <li>November 30th | 7:30 pm</li>
                              <li>December 1 | 7:30 pm</li>
                              <li>December 2 | 2 pm & 7:30 pm</li>
                           </ul>
                           <p><a class="btn btn-navy" href="http://masters-music.tix.com/Schedule.aspx?OrgNum=2178">Purchase Tickets</a></p>
                        </div>
                        <div class="col s6">
                           <img src="{{ '/images/ChristmasConcert2017.jpg' | prepend: site.url }}" alt="Forest Lawn" width="100%">
                        </div>
                     </div>


                  </div>
                  <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
                  </div>
               </div>
               <!-- end Modal -->
               <!-- Modal Structure -->
               <div id="modal2" class="modal modal-fixed-footer">
                  <div class="modal-content">
                     <div class="row">
                        <div class="col s12">
                          <img src="/images/CarnegieHall_2000x800.jpg" alt="" width="100%">
                          <br>
                           <h1>Carnegie Hall Performance with Maestro Paul Plew</h1>


                              <p>You’re invited to join Dr. Paul Plew and The Master's University Chorale for a special performance of Dan Forrest’s Requiem for the Living at New York City’s famous Carnegie Hall. The concert will be held on Sunday, May 13, 2018, at 2:00pm, and includes a post-concert dinner cruise. Singers who wish to join will be sent the music in advance of the concert and are asked to participate in all rehearsals, May 11-13.  </p>
                              <p>Both packages listed below do not include airfare or meals (except for the post-concert dinner cruise). </p>
                              <h3>Package #1 - Performance only</h3>
                              <p>$849 per person </p>
                              <p>includes performance fees, orchestra fees, and rental of Carnegie Hall for each rehearsal and performance, as well as the post-concert cruise. You will be responsible for your airfare, hotel, transportation and all meals.</p>
                              <h3>Package #2 - Hotel accommodations and Performance</h3>
                              <p>$1349 per person (4 people per hotel room)</p>
                              <p>$1654 per person (3 people per hotel room)</p>
                              <p>$1958 per person (2 people per hotel room)</p>
                              <p>$2479 for a single room</p>
                              <p>includes performance fees, orchestra fees, and rental of Carnegie Hall for each rehearsal and performance. This package also includes hotel accommodations at the Grand Hyatt Hotel at 42nd Street/Park Avenue for 4 nights/5 days, concert-related bus transportation as well as the post-concert dinner cruise. </p>
                              <p>Non-refundable Deposit - $300.00 due by October 15, 2017 for all packages. </p>
                              <p>Please send checks to The Master's University Alumni Office or call with a credit card (661.362.2203). Checks must be received in the office by October 15th. Payment schedule will be provided upon deposit. </p>
                              <p>For more details call Shayna Anderson, Alumni Office at 661-362-2203 (sanderson@masters.edu) or Pamela Plew, School of Music at 661-362-2256 <a href="mailto:pjplew@masters.edu">pjplew@masters.edu</a>. Payment schedule will be provided upon deposit. </p>
                              <h3>Timeline of Events</h3>
                              <ul>
                                 <li>Thursday - arrive in NYC</li>
                                 <li>Friday - rehearsal (could be morning or afternoon, but evening is free)</li>
                                 <li>Saturday - rehearsal (opposite timeframe from day before, but evening is still free)</li>
                                 <li>Sunday - dress rehearsal, 2pm concert, post-concert cruise (depending on selected package, dinner on cruise may or may not be included)</li>
                                 <li>Monday - departure</li>
                              </ul>

                        </div>

                     </div>


                  </div>
                  <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
                  </div>
               </div>
               <!-- end Modal -->

            </div>
         </div>
      </div>
      <script type="text/javascript">
      $(document).ready(function(){
         // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
         $('.modal').modal();
      });
      </script>
   </div>
</div>
