---
layout: default
---

{% include parallax-header.html %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <br>
        <div class="row">
          <div class="col s12">
            <nav>
             <div class="nav-wrapper white">
               <div class="col s12">
                 <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
                 <a href="#!" class="breadcrumb">{{ page.title }}</a>
               </div>
             </div>
           </nav>
          </div>
        </div>
        <div class="col s12">
          <div class="row spacing">
            <p>The Master’s University is pleased to open its doors to students from many different backgrounds. The Office of Student Advancement provides a variety of services for students from multicultural, international, and military backgrounds including the following: orientation to assist in transition to life at The Master’s University, financial aid and admissions counseling, social activities, service opportunities, academic counseling, vocational planning, and discipleship.</p>
          </div>

          <div class="card-content white">
            <!-- {% for item in site.outreach %}
            {% unless item.title == "outreach" %}
            <a href="{{ item.url | prepend: site.url }}">
              <div class="col s6 m3">
                <div class="vector-card">
                  <img src="{{item.icon-image}}" alt="" width="100%">
                  <p class="center">{{ item.title }}</p>
                </div>
              </div>
            </a>
            {% endunless %}
            {% endfor %} -->
            <a href="{{ item.url | prepend: site.url }}">
              <div class="col s6 m4">
                <div class="vector-card">
                  <img src="/uploads/StudentLife_GlobalOutreach.png" alt="" width="100%">
                  <p class="center">International Students</p>
                </div>
              </div>
            </a>
            <a href="{{ item.url | prepend: site.url }}">
              <div class="col s6 m4">
                <div class="vector-card">
                  <img src="/uploads/AdmissionFinAid_VeteransBenefits.png" alt="" width="100%">
                  <p class="center">Military Students</p>
                </div>
              </div>
            </a>
            <a href="{{ item.url | prepend: site.url }}">
              <div class="col s6 m4">
                <div class="vector-card">
                  <img src="/uploads/AcademicsUndergradIcons_Communications.png" alt="" width="100%">
                  <p class="center">Third Cultural Students</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
