---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/studentlife/student-advancement/" | prepend: site.url }}" class="breadcrumb">Student Advancement</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
     <div class="row spacing">
       <div class="col s12">
         <img src="{{page.image}}" alt="{{page.title}}" width="100%">
         <div class="card-content">
           {{ content }}
         </div>
       </div>

     </div>
     <div class="row">
    <div class="col s12">
      <ul class="tabs">
        {% for tab in page.tabs %}
        <li class="tab"><a href="#{{forloop.index}}">{{tab.title}}</a></li>
        {% endfor %}
        {% if page.title == "International Students"%}
        <li class="tab"><a href="/admissions/undergrad/international-admissions" target="_self">Admissions</a></li>
        {% endif %}
      </ul>
    </div>
    {% for tab in page.tabs %}
    <div id="{{forloop.index}}" class="col s12">{{ tab.body | markdownify }}</div>
    {% endfor %}
  </div>
    </div>
  </div>

</div>
