---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">
          <h2 id="office-hours">Office Hours</h2>
          <table class="bordered">
              <thead>
                <tr>
                    <th>Monday - Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>9:00 am - 5:00 pm </td>
                </tr>
              </tbody>
            </table>

              <p>Closed on school holidays</p>

              <h2 id="contact-information">Contact Information</h2>

              <p>The Master’s University<br>
              21726 Placerita Canyon Rd, Box 23<br>
              Santa Clarita, CA 91321</p>

          <p><strong>Email:</strong> <a href="mailto:osepd@masters.edu">osepd@masters.edu</a></p>
          <p><strong>Phone:</strong> <a href="tel:16613622238">661-362-2238</a></p>
          <p><strong>Fax:</strong> <a href="tel:16613622668">661-362-2668</a></p>
          </div>
    <div class="col s12 m9 pull-m3">

      <h2>Welcome to {{ page.title }}</h2>
      {{ content }}
      {% for staff in page.staff %}
      <div class="row">
        <div class="col s12 m3 center">
          <img class="circle" src="{{staff.image}}" alt="" width="100%">
          <h1 class="center">{{staff.name}}</h1>
          <span>{{staff.title}}</span>
        </div>
        <div class="col s12 m9">
          {{ staff.bio-body | markdownify }}
        </div>
      </div>
      {% endfor %}
      </div>
  </div>

</div>
