---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/academics/online" | prepend: site.url }}" class="breadcrumb">Online</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="card">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#info">Info</a></li>
        <li class="tab"><a href="#policies">Policies</a></li>
        <li class="tab"><a href="#forms">Forms</a></li>
        <li class="tab"><a href="#register">Register for Classes</a></li>
        <li class="tab"><a href="#tuition">Tuition & Fees</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="info">
        <p>{{ content | markdownify}}</p>

      </div>
      <div id="policies">
        {{ page.policies-body | markdownify | replace: '\', ' ' }}

      </div>
      <div id="forms">
        {{ page.forms-body | markdownify }}
      </div>
      <div id="register">
        {{ page.register-body | markdownify }}
      </div>
      <div id="tuition">
        {{ page.tuition-body | markdownify | replace: '\', ' ' }}
      </div>
    </div>
   </div>
</div>
