---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/studentlife" | prepend: site.url }}" class="breadcrumb">Student Life</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  {{ content | markdownify }}
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a href="#test1">International Students</a></li>
        <li class="tab"><a href="#test2">Military Students</a></li>
        <li class="tab"><a href="#test3">Multicultural Students</a></li>
      </ul>
    </div>
  </div>
    <div id="test1" class="col s12">
      <div class="col s12">
        <img src="{{ '/images/IntlAdmissions.jpg' | prepend: site.url }}" width="100%"/>
        <ul class="tabs">
          <li class="tab"><a class="active" href="#program">Programs & Resources</a></li>
          <li class="tab"><a href="#meet">Meet the Coordinator</a></li>
          <li class="tab"><a href="#">INTl Admissions</a></li>
        </ul>
      </div>
      <div id="program" class="col s12">
        <span>{{ page.intl-programs-body | markdownify }}</span>
      </div>
      <div id="meet" class="col s12">
        <br>
        <div class="row">
          <div class="col s12 m3">
            <img class="circle" src="https://dummyimage.com/500x500/oc2340/fff.jpg" alt="" width="100%">
          </div>
          <div class="col s12 m9">
            {{ page.coordinator-body | markdownify }}
          </div>
        </div>
      </div>
    </div>

    <div id="test2" class="col s12">
      <img src="{{ '/images/Military_1920x500.jpg' | prepend: site.url }}" alt="" width="100%">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab"><a class="active" href="#about">About</a></li>
            <li class="tab"><a href="#resources">Resources</a></li>
            <li class="tab"><a href="#rotc">ROTC</a></li>
          </ul>
        </div>
        <div id="about" class="col s12">
          <span>{{ page.military-student-body | markdownify }}</span>
        </div>
        <div id="resources" class="col s12">
          <span>{{ page.military-resources-body | markdownify }}</span>
        </div>
        <div id="rotc" class="col s12">
          <span>{{ page.ROTC-body | markdownify }}</span>
        </div>
      </div>
    </div>

    <div id="test3" class="col s12">Multicultural Students</div>


</div>
