---
layout: default
---

{% include parallax-header.html %}

<div class="container">
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/campus-links" | prepend: site.url }}" class="breadcrumb">Campus Links</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <!-- Table of Contents -->
  <div class="col s12 m3 push-m9">
    <div class="toc-wrapper pin-top" style="top: 0px;">
      <div class="buysellads">
        <div section table-of-contents fixed>
          <h2>Office Hours</h2>
          <table class="bordered">
              <thead>
                <tr>
                    <th>{{ page.days-open }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ page.hours}} </td>
                </tr>
              </tbody>
            </table>
              <h2 id="contact-information">Contact Information</h2>

              {{ page.address | markdownify }}

          <p><strong>Email:</strong> <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m9 pull-m3">
        <h2>Welcome to {{ page.title }}</h2>
        {{ content }}
        <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <h2>Online Payment</h2>
                {{ page.onlinepayment-body | markdownify }}
                </div>
                <div class="card-action">
                  <div class="center">
                  {{ page.onlinepayment-button | markdownify }}
                  </div>
              </div>
            </div>
          </div>
          <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#general">General FAQs</a></li>
                <li class="tab"><a href="#tmu-online">TMU Online Billing FAQ</a></li>
                <li class="tab"><a href="#masters-degree">Master's Degree Billing Faq</a></li>
           </ul>
          </div>
          <div class="card-content grey lighten-4">
            <div id="general" style="">
              <ul class="collapsible" data-collapsible="accordion">
                  {% for faq in page.general-faqs %}
                  <li>
                    <div class="collapsible-header">{{ faq.question }}</div>
                    <div class="collapsible-body"><span>{{ faq.answer | markdownify }}</span></div>
                  </li>
                  {% endfor %}
              </ul>
            </div>
            <div id="tmu-online" style="">
              <ul class="collapsible" data-collapsible="accordion">
                  {% for faq in page.tmu-online-faqs %}
                  <li>
                    <div class="collapsible-header">{{ faq.question }}</div>
                    <div class="collapsible-body"><span><{{ faq.answer | markdownify }}</span></div>
                  </li>
                  {% endfor %}
              </ul>
            </div>
            <div id="masters-degree" style="">
              <ul class="collapsible" data-collapsible="accordion">
                  {% for faq in page.masters-faqs %}
                  <li>
                    <div class="collapsible-header">{{ faq.question }}</div>
                    <div class="collapsible-body"><span><{{ faq.answer | markdownify }}</span></div>
                  </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
         </div>
        <h2>Policies and Procedures</h2>
        <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            {% for tab in page.tabs %}
              <li class="tab"><a href="#{{ tab.slug }}">{{ tab.title }}</a></li>
            {% endfor %}
         </ul>
        </div>
        <div class="card-content grey lighten-4">
          {% for tab in page.tabs %}
          <div id="{{ tab.slug }}" style="">
            {{ tab.content | markdownify }}
          </div>
          {% endfor %}
        </div>
       </div>
      </div>


  </div>
</div>
