---
layout: default
---
<div class="container">
  <h1>Theatre Arts</h1>
  {{ content }}
  <h2>Current Season</h2>
  <ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Current Season</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header">About Us</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header">Audition Information</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>
</div>
