---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12 m6 l5">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/academics/undergraduate" | prepend: site.url }}" class="breadcrumb">Undergrad</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <p>{{ page.description }}</p>
  <h3>Faculty</h3>
  <ul>
      {% for faculty in site.faculty %}
      {% if faculty.department == page.title %}
      <li><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>


</div>
