---
layout: default
---

<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/academics/undergraduate" | prepend: site.url }}" class="breadcrumb">Undergrad</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m9">
      <p>{{ page.description }}</p>
      <h2>Faculty</h2>
      <ul>
          {% for faculty in site.faculty %}
          {% if faculty.department == page.title %}
          <div class="chip">
            <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
            <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
          </div>
          {% endif %}
          {% endfor %}
      </ul>

      <div class="card">
        <!-- <div class="card-content">
          <p>{{ page.description }}</p>
        </div> -->
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#wam">Why at Master's</a></li>
            <li class="tab"><a href="#sq">Student Quotes</a></li>
            <li class="tab"><a href="#mr">Major Requirements</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="wam">
            <ol>
              {% for point in page.why-at-masters %}
              <li>{{ point }}</li>
              {% endfor %}
            </ol>
          </div>
          <div id="sq">
            {{ page.quote }}
          </div>
          <div id="mr">
            {{ page.required-courses-body | markdownify }}
          </div>
        </div>
       </div>
    </div>
    <div class="col s12 m3">
      <h2>Emphasis</h2>
       <ul>
         {% for emphasis in page.emphasis %}
         <li>{{ emphasis }}</li>
         {% endfor %}
       </ul>
      <h2>Program Credits</h2>
      <p>Total: {{ page.total-credits }}<br>
      General Education: {{ page.GE-credits }}<br>
      {% if page.bible-credits != '' %}
      Bible: {{ page.bible-credits }}<br>
      {% endif %}
      Major Core Courses: {{ page.core-courses }}<br>
      Emphasis/Electives: {{ page.emphasis-electives }}</p>
      <h2>Sample Course Offerings:</h2>
      <ul>
        {% for course in page.course-offerings %}
        <li>{{ course }}</li>
        {% endfor %}
      </ul>
      <h2>Career Paths</h2>

    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <h2>Prof Publications</h2>
      {{ page.prof-publications-body | markdownify }}
    </div>
  </div>
</div>
