---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <br>
  <div class="row">
    <div class="col s12">
      <nav>
       <div class="nav-wrapper white">
         <div class="col s12">
           <a href="{{ "/visit/" | prepend: site.url }}" class="breadcrumb">Visit</a>
           <a href="#!" class="breadcrumb">{{ page.title }}</a>
         </div>
       </div>
     </nav>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6">
      <img src="{{ page.image}}" alt="" class="responsive-img">
    </div>
    <div class="col s12 l6">
      <div class="row">
        <div class="col s12">
          <a href="{{page.button-link}}" class="btn btn-navy right">{{page.button-txt}}</a>
        </div>
      </div>
      {{ content }}
    </div>
  </div>
</div>
