---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row">
    <div class="col s12 m8">
      {{ content }}
    </div>
    <div class="col s12 m4">

    </div>
  </div>
</div>
{% for item in site.visit %}
{% if item.title != 'Visit' %}
<div class="row spacing">
  <div class="col s12 l8" style="padding: 0px;">
    <img src="{{item.banner-image}}" alt="{{item.title}}" class="responsive-img">
  </div>
  <div class="col s12 l4" style="padding-left: 30px;">
    <div class="card-content">
      {{item.preview-text | markdownify }}

    </div>

    <div class="spacing">
      <h4>Dates:</h4>
      <div class="no-line-spacing">
        {{item.date-text | markdownify}}
        <br>
      </div>
      <a href="{{item.button-link}}" class="btn btn-navy">{{item.button-txt}}</a>
      <a href="{{item.url}}" class="btn btn-gold">More Info</a>
    </div>


  </div>
</div>
{% endif %}
{% endfor %}
