---
layout: default
---

{% include parallax-header.html %}
<div class="container">
  <div class="row spacing">
    <div class="col s12 l6 flow-text">
      {{ content }}
    </div>
    <div class="col s12 l6">
      <br>
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/238670475" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<h1 class="center">Ways to visit</h1>
<div class="container spacing">
  {% for item in site.visit %}
  {% if item.title != 'Visit' %}
  <div class="row">
    <div class="col s12">
      <div class="hide-on-large-only">
        <img src="{{item.image}}" alt="" width="100%">

      </div>
      <div class="overlay hide-on-med-and-down">
        <img src="{{item.banner-image}}" alt="{{item.title}}" class=" image responsive-img">
        <div class="middle">
          <div class="row">
            <div class="col s4">
              <h4 class="white-text">Dates:</h4>
              <div class="no-line-spacing">
                {{item.date-text | markdownify}}
              </div>
            </div>
            <div class="col s8">
              {{item.preview-text | truncatewords: 30 | markdownify }}
              <a href="{{item.url}}" class="btn btn-gold">More Info</a>
            </div>
          </div>


        </div>
      </div>
      <div class="col s12 hide-on-large-only">
        {{item.preview-text | markdownify }}
        <h4>Dates:</h4>
        <div class="no-line-spacing">
          {{item.date-text | markdownify}}
          <br>
        </div>
        <a href="{{item.button-link}}" class="btn btn-navy">{{item.button-txt}}</a>
        <a href="{{item.url}}" class="btn btn-gold">More Info</a>
      </div>

    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<!-- <div class="row spacing">
  <div class="col s12 l8" style="padding: 0px;">
    <img src="{{item.banner-image}}" alt="{{item.title}}" class="responsive-img">
  </div>
  <div class="col s12 l4" style="padding-left: 30px;">
    <div class="card-content">
      {{item.preview-text | markdownify }}

    </div>

    <div class="spacing">
      <h4>Dates:</h4>
      <div class="no-line-spacing">
        {{item.date-text | markdownify}}
        <br>
      </div>
      <a href="{{item.button-link}}" class="btn btn-navy">{{item.button-txt}}</a>
      <a href="{{item.url}}" class="btn btn-gold">More Info</a>
    </div>


  </div>
</div> -->
