---
layout: default
---

<div class="container">
  <h2>Bible</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Bible"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Business</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Business"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Computer and Information Sciences</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Computer and Information Sciences"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Communications</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Communications"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>English</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "English"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>History</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "History"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Kinesiology</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Kinesiology"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Liberal Studies</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Liberal Studies"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Math</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Math"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Music</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Music"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Political Studies</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Political Studies"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}

  <h2>Sciences</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Sciences"%}
   <div class="chip fchip">
     <img src="{{ faculty.image | prepend: site.url }}" alt="Contact Person">
     <a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a>
   </div>
   {% endif %}
  {% endfor %}
</div>
